@using System.Globalization
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Common
@using DragonCon.Modeling.Models.Events
@model DragonCon.Features.Management.Convention.SettingsUpdateViewModel

    <form asp-area="Management" asp-controller="Convention" asp-action="UpdateSettings" method="post" class="right-to-left" style="padding: 10px;">
        <input asp-for="ConventionId" hidden />

        <table class="table">
            <tr class="d-flex">
                <td class="col-5"> אפשר הגשת אירועים</td>
                <td class="col-3">
                    <div class="checkbox toggle-padding text-right">
                        <label class="label-control">
                            <input asp-for="@Model.AllowEventsSuggestions"
                                   class="bootstrap-toggle"
                                   data-toggle="toggle"
                                   type="checkbox"
                                   data-on="<i class='fa fa-fw fa-check'></i>"
                                   data-off="<i class='fa fa-fw fa-times'></i>"
                                   data-offstyle="danger"
                                   data-onstyle="success"
                                   data-width="75",
                                   data-height="25">
                        </label>
                    </div>
                </td>
            </tr>
            <tr class="d-flex">
                <td class="col-5"> אפשר רישום לאירועים</td>
                <td class="col-3">
                    <div class="checkbox toggle-padding text-right">
                        <label class="label-control">
                            <input asp-for="@Model.AllowEventsRegistration"
                                   class="bootstrap-toggle"
                                   data-toggle="toggle"
                                   type="checkbox"
                                   data-on="<i class='fa fa-fw fa-check'></i>"
                                   data-off="<i class='fa fa-fw fa-times'></i>"
                                   data-offstyle="danger"
                                   data-onstyle="success"
                                   data-width="75" ,
                                   data-height="25">
                        </label>
                    </div>
                </td>
            </tr>
            <tr class="d-flex">
                <td class="col-5"> אפשר שינוי רישום לאירועים</td>
                <td class="col-3">
                    <div class="checkbox toggle-padding text-right">
                        <label class="label-control">
                            <input asp-for="@Model.AllowEventsRegistrationChanges"
                                   class="bootstrap-toggle"
                                   data-toggle="toggle"
                                   type="checkbox"
                                   data-on="<i class='fa fa-fw fa-check'></i>"
                                   data-off="<i class='fa fa-fw fa-times'></i>"
                                   data-offstyle="danger"
                                   data-onstyle="success"
                                   data-width="75" ,
                                   data-height="25">
                        </label>
                    </div>
                </td>
            </tr>
            <tr class="d-flex">
                <td class="col-5"> אפשר רכישת כרטיס</td>
                <td class="col-3">
                    <div class="checkbox toggle-padding text-right">
                        <label class="label-control">
                            <input asp-for="@Model.AllowPayments"
                                   class="bootstrap-toggle"
                                   data-toggle="toggle"
                                   type="checkbox"
                                   data-on="<i class='fa fa-fw fa-check'></i>"
                                   data-off="<i class='fa fa-fw fa-times'></i>"
                                   data-offstyle="danger"
                                   data-onstyle="success"
                                   data-width="75" ,
                                   data-height="25">
                        </label>
                    </div>
                </td>
            </tr>
            <tr class="d-flex">
                <td class="col-5"> אפשר שינוי כרטיסים</td>
                <td class="col-3">
                    <div class="checkbox toggle-padding text-right">
                        <label class="label-control">
                            <input asp-for="@Model.AllowPaymentChanges"
                                   class="bootstrap-toggle"
                                   data-toggle="toggle"
                                   type="checkbox"
                                   data-on="<i class='fa fa-fw fa-check'></i>"
                                   data-off="<i class='fa fa-fw fa-times'></i>"
                                   data-offstyle="danger"
                                   data-onstyle="success"
                                   data-width="75" ,
                                   data-height="25">
                        </label>
                    </div>
                </td>
            </tr>
        </table>

        <br />
        <div class="btn-save-container">
            <button type="submit" class="btn btn-primary btn-save">שמירת הגדרות </button>
        </div>
    </form>