@using System.Globalization
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Common
@using DragonCon.Modeling.Models.Events
@model DragonCon.Features.Management.Convention.NameDatesCreateUpdateViewModel
@{
    if (Model.Id != null)
    {
        ViewBag.Title = "עריכת כנס";
    }
    else
    {
        ViewBag.Title = "הוספת כנס חדש";
    }

           
    var loadedDays = Model.Days.Where(x => x.IsDeleted == false).ToList();
    var initialCount = Math.Max(0, loadedDays.Count - 1);

}
    <form asp-area="Management" asp-controller="Convention" asp-action="CreateUpdateNameDatePost" method="post" class="card-form right-to-left" style="padding: 10px;">
        <input asp-for="Id" hidden />

        <div class="form-group">
            <label>שם הכנס</label>
            <input asp-for="Name" class="form-control" placeholder="למשל - 'דרקוניקון 2022'">
        </div>
        <div class="form-group">
            <label>כותרת משנה</label>
            <input asp-for="TagLine" class="form-control" placeholder="למשל - 'כנס המשחקים של הקיץ'">
        </div>
        <div class="form-group">
            <label>חלונות זמן</label>
            <select asp-for="TimeStrategy" class="form-control chosen-select" data-placeholder="אסטרטגיה">
                <option selected="selected" disabled>בחירת אסטרטגיית ניהול זמן</option>
                @foreach (var type in Enums.AsSelectListItem<TimeSlotStrategy>())
                {
                    <option value="@type.Value">@type.Text</option>
                }
            </select>
        </div>

        @* Convention Days *@
        <div class="form-group">
            <label>ימי הכנס</label>
            <div id="last-day-template" data-counter="@initialCount" class="row last-day-row" style="padding-bottom: 5px;" hidden>
                <input type="text" class="update-deleted" value="false" hidden>
                <div class="col">
                    <input type="date" class="form-control datepicker update-date" placeholder="יום כנס">
                </div>
                <div class="col">
                    <input type="time" class="form-control timepicker update-from" placeholder="שעת התחלה">
                </div>
                <div class="col">
                    <input type="time" class="form-control timepicker update-to" placeholder="שעת סיום">
                </div>
                <div class="col-1 text-center">
                    <a href="#" class="form-control">
                        <i title="הסר יום" class="text-danger fa fa-fw fa-times"></i>
                    </a>
                </div>
            </div>

            @if (loadedDays.Any())
            {
                for (int i = 0; i < loadedDays.Count; i++)
                {

        <div class="row last-day-row" style="padding-bottom: 5px;">
            <input class="update-deleted" name="Days[@i].IsDeleted" value="false" hidden>
            <div class="col">
                @{
                    var date = Model.Days[i].Date;
                    var from = Model.Days[i].From;
                    var to = Model.Days[i].To;
                }
                <input data-value="@date" asp-for="@Model.Days[i].Date" type="date" class="datepicker nice-pickers form-control" placeholder="יום כנס">
            </div>
            <div class="col">
                <input data-value="@from" asp-for="@Model.Days[i].From" type="time" class="timepicker nice-pickers form-control" placeholder="שעת התחלה">
            </div>
            <div class="col">
                <input data-value="@to" asp-for="@Model.Days[i].To" type="time" class="timepicker nice-pickers form-control" placeholder="שעת סיום">
            </div>
            <div class="col-1 text-center">
                <a href="#" onclick="RemoveRow(this)" class="form-control">
                    <i title="הסר יום" class="text-danger fa fa-fw fa-times"></i>
                </a>
            </div>
        </div>
                }
            }
            <a href="#" onclick="AddNewDay()"><i class="fa fa-fw fa-plus"></i> הוספת יום</a>
        </div>
        <br />
        <div class="btn-save-container">
            <button type="submit" class="btn btn-primary btn-save">שמירת מידע בסיסי </button>
        </div>
    </form>