@using  DragonCon.Modeling.Helpers
@model DragonCon.Features.Management.Convention.ConventionUpdateViewModel
@{
    Layout = "";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <div class="right-to-left">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="סגור חלון">
                    <span aria-hidden="true" class="text-danger"><i class="fa fa-fw fa-window-close"></i></span>
                </button>
                <h3>@Model.NameDate.Name</h3>
            </div>
        </div>
    
        <div class="modal-body right-to-left">
            <div class="card card-gray-float">
                <div class="card-body">
                    <h5 class="card-title">מידע כללי</h5>
                    <table class="table">
                        <tr class="d-flex">
                            <td class="col-3"> כותרת משנה</td>
                            <td class="col-6">@Model.NameDate.TagLine</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="col-3"> אסטרטגית זמנים</td>
                            <td class="col-6">@Model.NameDate.TimeStrategy.ToTextual()</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />

            <div class="card card-gray-float">
                <div class="card-body">
                    <h5 class="card-title">הגדרות</h5>
                    <table class="table">
                        <tr class="d-flex">
                            <td class="col-5"> אפשר הגשת אירועים</td>
                            <td class="col-3"> @Model.Settings.AllowEventsSuggestions.AsYesNoHebrew()</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="col-5"> אפשר רישום לאירועים</td>
                            <td class="col-3"> @Model.Settings.AllowEventsRegistration.AsYesNoHebrew()</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="col-5"> אפשר רכישת כרטיס</td>
                            <td class="col-3"> @Model.Settings.AllowPayments.AsYesNoHebrew()</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="col-5"> אפשר בדיקת מנהלים</td>
                            <td class="col-3"> @Model.Settings.AllowManagementTests.AsYesNoHebrew()</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />

            <div class="card card-gray-float">
                <div class="card-body">
                    <h5 class="card-title">ימי הכנס</h5>
                    @if (Model.NameDate.Days != null && Model.NameDate.Days.Any(x => x.Id.IsNotEmptyString()))
                    {
                        <table class="table">
                            @foreach (var day in Model.NameDate.Days
                               .Where(x => x.Id.IsNotEmptyString())
                               .OrderBy(x => x.Date))
                            {
                                <tr class="d-flex">
                                    <td class="col-3"> @day.Date</td>
                                    <td class="col-2">@day.From</td>
                                    <td class="col-2">@day.To</td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <span>אין ימים מוגדרים</span>
                    }
                </div>
            </div>

            <br />

            <div class="card card-gray-float">
                <div class="card-body">
                    <h5 class="card-title">אולמות</h5>
                    @if (Model.Halls.Halls != null && Model.Halls.Halls.Any(x => x.Id.IsNotEmptyString()))
                    {
                        <table class="table">
                            @foreach (var hall in Model.Halls.Halls
                               .Where(x => x.Id.IsNotEmptyString())
                               .OrderBy(x => x.FirstTable))
                            {
                                <tr class="d-flex">
                                    <td class="col-4"> @hall.Name</td>
                                    <td class="col-4">@hall.Description</td>
                                    <td class="col-3">
                                        @hall.Tables.Count שולחנות
                                        <br />מספרים @hall.FirstTable <i>עד</i> @hall.LastTable
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <span class="text-danger">אין אולמות מוגדרים</span>
                    }

                </div>
            </div>
            <br />

            <div class="card card-gray-float">
                <div class="card-body">
                    <h5 class="card-title">כרטיסים</h5>

                    @if (Model.Tickets.Tickets != null && Model.Tickets.Tickets
                       .Any(x => x.Id.IsNotEmptyString()))
                    {
                        <table class="table">
                            @foreach (var ticket in Model.Tickets.Tickets
                               .Where(x => x.Id.IsNotEmptyString())
                               .OrderBy(x => x.Name))
                            {
                                <tr class="d-flex">
                                    <td class="col-3"> @ticket.Name</td>
                                    <td class="col-2"> @ticket.TicketType.ToTextual()</td>
                                    <td class="col-2">
                                        @if (ticket.IsLimited)
                                        {
                                            <span>מוגבל ל-@ticket.NumOfActivities פעילויות</span>
                                        }
                                        else
                                        {
                                            <strong class="text-success">ללא הגבלה</strong>
                                        }
                                    </td>
                                    <td class="col-2">
                                        מוגבל ל-@ticket.Days.Count ימים:
                                        <br />
                                        @foreach (var day in ticket.Days)
                                        {
                                            <span>@Model.NameDate.Days.FirstOrDefault(x => x.Id == day)?.Date<br /></span>
                                        }
                                    <td class="col-2">
                                        @if (ticket.Price > 0)
                                        {
                                            <span>
                                                @ticket.Price ₪
                                            </span>
                                        }
                                        else
                                        {
                                            <strong class="text-danger">חינם</strong>
                                        }

                                    </td>

                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <span class="text-danger">אין כרטיסים מוגדרים</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>