@using DragonCon.Modeling.Models.Tickets
@using DragonCon.Modeling.Helpers
@model DragonCon.Features.Management.Convention.TicketsUpdateViewModel
@{
    var loadedTickets = Model.Tickets.Where(x => x.IsDeleted == false).ToList();
    var initialCount = Math.Max(0, loadedTickets.Count - 1);
}

<form asp-area="Management" asp-controller="Convention" asp-action="UpdateTickets" method="post" class="right-to-left" style="padding: 10px;">
    <input asp-for="ConventionId" hidden />
    @* Convention Tickets *@
<div class="form-group">
    <label>סוגי כרטיסים</label>
    <div id="last-ticket-template" data-counter="@initialCount" class="last-ticket-row">
        <div class="row" style="padding-bottom: 5px;">
            <input type="text" class="update-deleted" value="false" hidden>
            <input type="text" class="update-id" value="" hidden>
            <div class="col">
                <input type="text" class="form-control update-name" placeholder="שם כרטיס">
            </div>
            <div class="col-1">
                <a href="#" class="form-control">
                    <i title="הסר כרטיס" class="fa fa-fw fa-times"></i>
                </a>
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col input-group">
                <input type="number" class="form-control  update-from" placeholder="מחיר">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="">&#8362;</span>
                </div>
            </div>
            <div class="col input-group">
                <input type="text" class="form-control  update-to" placeholder="קוד PayPal">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="">@@PayPal</span>
                </div>  </div>
            <div class="col">
                <select class="form-control chosen" data-placeholder="בחר סוג">
                    @foreach (var type in Enums.AsSelectListItem<TicketLimitation>())
                    {
                        <option value="@type.Value">@type.Text</option>
                    }
                </select>
            </div>
        </div>    
        <div class="row" style="padding-bottom: 5px;">
            <div class="col">
                <div class="checkbox toggle-padding text-right">
                    <label class="label-control">
                        <input onchange="ToggleUnlimitedTicket(this)"
                               type="checkbox" class="bootstrap-toggle" data-toggle="toggle" 
                               data-on="<i class='fa fa-fw fa-times'></i>" 
                               data-off="<i class='fa fa-fw fa-check'></i>"
                               data-offstyle="success" 
                               data-onstyle="danger" 
                               data-width="50">
                    </label>
                    <span class="toggle-text">כרטיס לא מוגבל</span>
                </div>           
                </div>
            <div class="col">
                <input type="number" 
                       min="1" max="99"
                       class="form-control update-events-number" placeholder="מספר אירועים" disabled>
            </div>
            <div class="col">
                <select class="form-control chosen" data-placeholder="בחר ימים" multiple>
                    @foreach (var day in Model.AvailableDays)
                    {
                        <option value="@day.Id">@day.Date.ToShortDateString()</option>
                    }
                </select>
            </div>
        </div>
    </div>

    @*@if (loadedDays.Any())
        {
            for (int i = 0; i < loadedDays.Count; i++)
            {

                <div class="row last-day-row" style="padding-bottom: 5px;">
                    <input class="update-deleted" name="Days[@i].IsDeleted" value="false" hidden>
                    <div class="col">
                        <input asp-for="@Model.Days[i].Date" type="date" class="form-control" placeholder="יום כנס">
                    </div>
                    <div class="col">
                        <input asp-for="@Model.Days[i].From" type="time" class="form-control" placeholder="שעת התחלה">
                    </div>
                    <div class="col">
                        <input asp-for="@Model.Days[i].To" type="time" class="form-control" placeholder="שעת סיום">
                    </div>
                    <div class="col-1">
                        <a href="#" onclick="RemoveDay(this)" class="form-control">
                            <i title="הסר יום" class="fa fa-fw fa-times"></i>
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row last-day-row" style="padding-bottom: 5px;">
                <input class="update-deleted" name="Days[0].IsDeleted" value="false" hidden>
                <div class="col">
                    <input name="Days[0].Date" type="date" class="form-control" placeholder="יום כנס">
                </div>
                <div class="col">
                    <input name="Days[0].From" type="time" class="form-control" placeholder="שעת התחלה">
                </div>
                <div class="col">
                    <input name="Days[0].To" type="time" class="form-control" placeholder="שעת סיום">
                </div>
                <div class="col-1">
                    <a href="#" onclick="RemoveDay(this)" class="form-control">
                        <i title="הסר יום" class="fa fa-fw fa-times"></i>
                    </a>
                </div>
            </div>
        }*@
    <a href="#" onclick="AddNewDay()"><i class="fa fa-fw fa-plus"></i> הוספת כרטיס</a>
</div>
    <br />
    <button type="submit" class="btn btn-primary">שמור שינויים</button>
</form>