@using DragonCon.Modeling.Models.Tickets
@using DragonCon.Modeling.Helpers
@model DragonCon.Features.Management.Convention.TicketsUpdateViewModel
@{
    //var loadedTickets = Model.Tickets.Where(x => x.IsDeleted == false).ToList();
    //var initialCount = Math.Max(0, loadedTickets.Count - 1);..
    var initialCount = 1;

}
<form asp-area="Management" asp-controller="Convention" asp-action="CreateUpdateNameDatePost" method="post" class="right-to-left" style="padding: 10px;">
    @*<input asp-for="Id" hidden />*@
    @* Convention Tickets *@
    <div class="form-group">
        <label>סוגי כרטיסים</label>
        <div id="last-ticket-template" data-counter="@initialCount" class="row last-ticket-row" style="padding-bottom: 5px;">
            <input type="text" class="update-deleted" value="false" hidden>
            <input type="text" class="update-id" value="" hidden>

            <div class="col">
                <input type="text" class="form-control update-name" placeholder="שם">
            </div>
            <div class="col">
                <input type="number" class="form-control  update-from" placeholder="מחיר">
            </div>
            <div class="col">
                <input type="text" class="form-control  update-to" placeholder="קוד PayPal">
            </div>
            <div class="col">
                <input type="number" class="form-control  update-to" placeholder="#פעילויות">
            </div>
            <div class="col">
                <input type="number" class="form-control  update-to" placeholder="ימים">
            </div>
            <div class="col">
                <select class="form-control">
                    @foreach (var type in Enums.AsSelectListItem<TicketLimitation>())
                    {
                        <option value="@type.Value">@type.Text</option>
                    }
                </select>
            </div>
            <div class="col-1">
                <a href="#" class="form-control">
                    <i title="הסר כרטיס" class="fa fa-fw fa-times"></i>
                </a>
            </div>
        </div>

        @*@if (loadedDays.Any())
        {
            for (int i = 0; i < loadedDays.Count; i++)
            {

                <div class="row last-day-row" style="padding-bottom: 5px;">
                    <input class="update-deleted" name="Days[@i].IsDeleted" value="false" hidden>
                    <div class="col">
                        <input asp-for="@Model.Days[i].Date" type="date" class="form-control" placeholder="יום כנס">
                    </div>
                    <div class="col">
                        <input asp-for="@Model.Days[i].From" type="time" class="form-control" placeholder="שעת התחלה">
                    </div>
                    <div class="col">
                        <input asp-for="@Model.Days[i].To" type="time" class="form-control" placeholder="שעת סיום">
                    </div>
                    <div class="col-1">
                        <a href="#" onclick="RemoveDay(this)" class="form-control">
                            <i title="הסר יום" class="fa fa-fw fa-times"></i>
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row last-day-row" style="padding-bottom: 5px;">
                <input class="update-deleted" name="Days[0].IsDeleted" value="false" hidden>
                <div class="col">
                    <input name="Days[0].Date" type="date" class="form-control" placeholder="יום כנס">
                </div>
                <div class="col">
                    <input name="Days[0].From" type="time" class="form-control" placeholder="שעת התחלה">
                </div>
                <div class="col">
                    <input name="Days[0].To" type="time" class="form-control" placeholder="שעת סיום">
                </div>
                <div class="col-1">
                    <a href="#" onclick="RemoveDay(this)" class="form-control">
                        <i title="הסר יום" class="fa fa-fw fa-times"></i>
                    </a>
                </div>
            </div>
        }*@
        <a href="#" onclick="AddNewDay()"><i class="fa fa-fw fa-plus"></i> הוספת כרטיס</a>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">שמור שינויים</button>
</form>