@using System.Globalization
@using DragonCon.Modeling.Helpers
@using Microsoft.AspNetCore.Mvc.Rendering
@model DragonCon.Features.Management.Dashboard.ConventionStatisticsViewModel
@{
    ViewBag.Title = "סטטיסטיקות";
}

<br />

<div class="card card-margined card-grayed">
    <h5 class="card-title"><i class="fa fa-fw fa-mouse-pointer"></i>מציג - @Model.SelectedConvention.Name </h5>
    <h6><a href="#">יצא רשימת משתתפים</a></h6>
</div>

<div class="card card-margined card-grayed">
    @*<h5 class="card-title">שינוי כנס </h5>*@
    <div class="card-body">
        <select class="chosen-select">
            @foreach (var con in Model.AllConventions)
            {
                var isSelected = con.Value == Model.SelectedConvention.Id ? "selected" : "";
                <option selected="@isSelected" value="@con.Value">@con.Key</option>
            }
        </select>
    </div>

</div>


<div class="card card-margined card-grayed">
    <h5 class="card-title">משתתפים </h5>
    <div class="card-body">
        <table class="table table-hover text-right">
            <tr>
                <td class="tw-4">סוג</td>
                <td class="tw-8">כמות</td>
            </tr>
            <tr>
                <td>סך הכל</td>
                <td>
                    @Model.TotalParticipants
                </td>
            </tr>
            <tr>
                <td>קבועים</td>
                <td>@Model.TotalLongTermParticipants</td>
            </tr>
            <tr>
                <td>זמניים</td>
                <td>@Model.TotalShortTermParticipants</td>

            </tr>
        </table>
    </div>

</div>


<div class="card card-margined card-grayed">
    <h5 class="card-title">תשלומים </h5>
    <div class="card-body">
        <table class="table table-hover text-right">
            <tr>
                <td class="tw-4">סוג כרטיס</td>
                <td class="tw-4">כמות</td>
            </tr>
            @foreach (var paid in Model.PaymentCompleted)
            {
                <tr>
                    <td>@paid.Key</td>
                    <td>
                        @paid.Value
                    </td>
                </tr>
            }

            <tr>
                <td>ללא כרטיס</td>
                <td>
                    @Model.PaymentPendingCount
                </td>
            </tr>

        </table>
    </div>
</div>


<div class="card card-margined card-grayed">
    <h5 class="card-title">אירועים </h5>
    <div class="card-body">
     
    </div>
</div>