@using System.Globalization
@using DragonCon.Modeling.Helpers
@using NodaTime
@using NodaTime.Extensions
@model DragonCon.Features.Management.Participants.ParticipantsManagementViewModel

@{
    ViewBag.Title = "משתתפים";
}

<div class="right-to-left">

    @if (Actor.HasSystemRole(SystemRoles.UsersManager))
    {
        <div class="text-right" style="padding: 15px;">
            <a asp-area="Management" asp-controller="Participants" asp-action="CreateUpdateParticipant">
                <i class="fa fa-fw fa-plus-square"></i> הוספת משתתף 
            </a>
        </div>
    }

    <div class="filter-container">
        <strong>חיפוש חופשי</strong>
        <form asp-area="Management" asp-controller="Participants" asp-action="ManageSearch">
            <div class="row">
                <div class="col-10">
                    <input name="searchWords"  class="form-control" placeholder="חיפוש לפי שם, דואל או טלפון" />
                </div>
                <div class="col-2">
                    <button class="btn btn-filter btn-info" type="submit"><i class="fa fa-fw fa-search"></i> חיפוש</button>
                </div>
            </div>
        </form>
        @if (Actor.Participant.SystemRoles.Contains(SystemRoles.UsersManager) ||
             Actor.Participant.SystemRoles.Contains(SystemRoles.ConventionManager))
        {

            <br/>
            <strong>סינון לפי</strong>
            <br/>
            <div class="row">
                <div class="col-1">
                    <label>בעל תפקיד</label>
                </div>
                <div class="col-4">
                    <select class="form-control chosen-select"
                            asp-for="filters.Role"
                            data-placeholder="בעל תפקיד">
                        <option value="" selected>הכל</option>
                        @foreach (var type in Enums.AsSelectListItem<SystemRoles>())
                        {
                            <option value="@type.Value">@type.Text</option>
                        }
                    </select>
                </div>
                <div class="col-2">
                    סטטוס תשלום
                </div>
            </div>
        }
    </div>

    <table id="accordion" class="table table-couple-striped text-right">
        <tbody>
        @foreach (var part in Model.Participants.OrderByDescending(x => x.Model.FullName))
        {
            var statusColor = "text-danger";
            var statusText = "לא שולם";
            if (part.ConventionInvoice != null && part.ConventionInvoice.IsPaid)
            {
                statusColor = "text-success";
                statusText = "שולם";
            }

            var shortTerm = part.Model as ShortTermParticipant;
            var longTerm = part.Model as LongTermParticipant;
            var participantId = shortTerm == null ? longTerm.Id : shortTerm.Id;
            var isShortTerm = shortTerm != null;

            <tr>
                <td class="tw-5">
                    <a class="text-primary" data-toggle="collapse" href="#extra-data-@participantId.GetNumberFromId()" title="הצגת פרטים מלאים">
                        <strong>@part.Model.FullName</strong>
                    </a>

                    @if (isShortTerm)
                    {
                        <div>
                            <i class="fa fa-fw fa-ankh"></i> משתתף זמני
                            <br />
                        </div>
                    }
                    else
                    {
                        <div>
                            <i class="fa fa-fw fa-envelope"></i> @longTerm.Email
                            <br />
                        </div>
                    }


                    @if (part.Model.PhoneNumber.IsNotEmptyString())
                    {
                        <div>
                            <i class="fa fa-fw fa-phone"></i> @part.Model.PhoneNumber <br />
                        </div>
                    }
                </td>
                <td class="tw-5">

                    <strong class="@statusColor">
                        <i class="fa fa-fw fa-ticket-alt"></i> @statusText
                    </strong>


                    @if (part.Model.DayOfBirth != null)
                    {
                        var age = SystemClock.Instance.GetCurrentInstant()
                            .ToDateTimeUtc().ToLocalDateTime().Date - part.Model.DayOfBirth;
                        <div>
                            <i class="fa fa-fw fa-birthday-cake"></i> @part.Model.DayOfBirth.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) (גיל @age.Years) <br />
                        </div>
                    }

                </td>
                <td>
                    <div class="dropdown pull-left">
                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm">
                            <i class="fa fa-fw fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-area="Management" asp-controller="Participants"
                               asp-action="CreateUpdateParticipant" 
                               asp-route-collection="@participantId.GetCollectionFromId()" asp-route-id="@participantId.GetNumberFromId()">
                                <i class="fa fa-fw fa-edit"></i> עדכון פרטים
                            </a>
                            @if (Actor.Participant.SystemRoles.Contains(SystemRoles.UsersManager) ||
                                 Actor.Participant.SystemRoles.Contains(SystemRoles.ConventionManager))
                            {
                                <a class="dropdown-item" asp-area="Management" asp-controller="Participants" asp-action="UpdateRoles"
                                   asp-route-collection="@participantId.GetCollectionFromId()" asp-route-id="@participantId.GetNumberFromId()">
                                    <i class="fa fa-fw fa-user-cog"></i> עדכון תפקידים
                                </a>
                            }
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Management" asp-controller="Participants"
                               asp-action="UpdateEventAgeRestriction">
                                <i class="fa fa-fw fa-ticket-alt"></i> הרשמה וכרטיסים
                            </a>
                            @if (Actor.Participant.SystemRoles.Contains(SystemRoles.UsersManager) ||
                                 Actor.Participant.SystemRoles.Contains(SystemRoles.ConventionManager))
                            {
                                @if (isShortTerm == false)
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Management" asp-controller="Participants"
                                       asp-action="UpdateEventAgeRestriction">
                                        <i class="fa fa-fw fa-unlock-alt"></i> איפוס סיסמה
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </td>
            </tr>
            <tr id="extra-data-@participantId.GetNumberFromId()"
                class="collapse" data-parent="#accordion">
                <td colspan="100%">
                    <table class="table table-no-border table-no-background">
                        @if (longTerm != null && longTerm.SystemRoles.Any())
                        {
                            <tr>
                                <td class="tw-2">
                                    <strong>תפקידים באתר </strong>
                                </td>
                                <td class="tw-10">
                                    @foreach (var role in longTerm.SystemRoles)
                                    {
                                        <span>@role.ToTextual()</span>
                                        <br />
                                    }
                                </td>
                            </tr>
                        }
                        @if (part.Model.ActiveConventionRoles.Any())
                        {

                            <tr>
                                <td class="tw-2">
                                    <strong>תפקידים בכנס </strong>
                                </td>
                                <td class="tw-10">
                                    @foreach (var role in part.Model.ActiveConventionRoles)
                                    {
                                        <span>@role.ToTextual()</span>
                                        <br/>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>