@using System.Globalization
@using DragonCon.Modeling.Helpers
@{
    ViewBag.Title = "מידע כללי";

    var actorMe = Actor.Me;
    var manageConvention = Actor.ManagedConvention;
    var displayConvention = Actor.DisplayConvention;
}

<br />

<div class="card card-margined card-gray-float">
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-fw fa-user"></i> אני</h5>
        <table class="table table-hover text-right">
            <tr>
                <td class="tw-4">שם</td>
                <td class="tw-8">@actorMe.FullName</td>
            </tr>
            <tr>
                <td>הרשאות אתר</td>
                <td>
                    @foreach (var role in actorMe.SystemRoles.Select(x => x.ToTextual()).OrderBy(x => x))
                    {
                        <span>@role<br /></span>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>

@* Managed Convention *@
<div class="card card-margined card-gray-float">
    <div class="card-body">
        <h5 class="card-title">
            <i class="fa fa-fw fa-users-cog"></i> כנס מנוהל
        </h5>

        <table class="table table-hover text-right">
            @if (Actor.HasManagedConvention)
            {
                <tr class="text-center h5">
                    <td colspan="2" class="tw-12">
                        <a asp-area="Management" asp-controller="Dashboard" asp-action="Overview">
                            <i class="fa fa-fw fa-eye"></i> מבט על - מצב כנס
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tw-4">כנס</td>
                    <td class="tw-8">@manageConvention?.ConventionName</td>
                </tr>
                <tr>
                    <td>כותרת משנה</td>
                    <td>
                        @manageConvention.TagLine
                    </td>
                </tr>
                <tr>
                    <td>
                        אסטרטגית זמנים
                    </td>
                    <td>
                        @manageConvention.TimeStrategy.ToTextual()
                    </td>
                </tr>

                <tr>
                    <td>ימים</td>
                    <td>
                        @foreach (var day in manageConvention.Days.OrderBy(x => x.Date))
                        {
                            <div>
                                <strong>
                                    <i class="far fa-fw fa-calendar"></i> @day.GetDescription()
                                </strong>
                                <br />
                                <i class="far fa-fw fa-clock"></i> @day.StartTime.ToString("HH:mm", CultureInfo.InvariantCulture) - @day.EndTime.ToString("HH:mm", CultureInfo.CurrentCulture)
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>אולמות</td>
                    <td>
                        @foreach (var hall in manageConvention.Halls.OrderBy(x => x.FirstTable))
                        {
                            <div class="row">
                                <div class="col-4">
                                    @hall.Name
                                </div>
                                <div class="col-4">
                                    @hall.Description
                                </div>
                                <div class="col-4">
                                    שולחנות &nbsp; &nbsp; @hall.FirstTable - @hall.LastTable
                                </div>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>כרטיסים</td>
                    <td>
                        @foreach (var ticket in manageConvention.Tickets.OrderBy(x => x.Name))
                        {
                            <div class="row">
                                <div class="col-4">
                                    @ticket.Name (@ticket.TicketType.ToTextual())
                                    <br />
                                    @for (int i = 0; i < ticket.DayIds.Count; i++)
                                    {
                                        var date = Actor.ManagedConvention.GetDayById(ticket.DayIds[i]);
                                        <span class="text-info">@date?.Date.DayOfWeek.InHebrew()</span>
                                        @if (i != ticket.DayIds.Count - 1)
                                        {
                                            <span class="text-primary">,</span>
                                        }
                                    }
                                </div>
                                <div class="col-4">
                                    @if (ticket.ActivitiesAllowed.HasValue)
                                    {
                                        <span>מוגבל ל-@ticket.ActivitiesAllowed פעילויות</span>
                                    }
                                    else
                                    {
                                        <span>ללא הגבלה</span>
                                    }
                                </div>
                                <div class="col-4">
                                    @ticket.Price ש"ח
                                </div>
                            </div>
                        }
                    </td>
                </tr>

                <tr>
                    <td>מותר להציע אירועים</td>
                    <td>
                        @await Html.PartialAsync("_PartialParameter", manageConvention.Settings.AllowEventsSuggestions)
                    </td>
                </tr>
                <tr>
                    <td>מותר להרשם לאירועים</td>
                    <td>
                        @await Html.PartialAsync("_PartialParameter", manageConvention.Settings.AllowEventsRegistration)
                    </td>
                </tr>
                <tr>
                    <td>מותר לקנות כרטיס</td>
                    <td>
                        @await Html.PartialAsync("_PartialParameter", manageConvention.Settings.AllowPayments)
                    </td>
                </tr>
                <tr>
                    <td>מותרת בדיקת המנהלים</td>
                    <td>
                        @await Html.PartialAsync("_PartialParameter", manageConvention.Settings.AllowManagementTests)
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="tw-12 text-danger">לא מוגדר כנס מנוהל</td>
                </tr>
            }
        </table>
    </div>
</div>

@* Participant Convention *@
<div class="card card-margined card-gray-float">
    <div class="card-body">
        <h5 class="card-title"><i class="fa fa-fw fa-user-friends"></i> כנס תצוגה</h5>
        <table class="table table-hover text-right h5 text-center">
            @if (Actor.HasDisplayConvention)
            {
                <tr>
                    <td class="tw-12">@displayConvention.ConventionName</td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="tw-12 text-danger">לא מוגדר כנס לתצוגה</td>
                </tr>
            }
            <tr>
                <td class="tw-12"><a asp-area="Convention" asp-controller="Landing" asp-action="Index">
                    <i class="fa fa-fw fa-plane-arrival"></i> מעבר לדף הנחיתה
                </a></td>
            </tr>
        </table>
    </div>
</div>
<br />