<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>דרקוניקון ניהול - @ViewBag.Title</title>

    @await Html.PartialAsync("_PartialSharedStyles")
    @RenderSection("Styles", required: false)
</head>
<body style="">
@await Html.PartialAsync("_PartialErrorResult")
@await Html.PartialAsync("_PartialAntiForgery")
    <div class="right-to-left">
        <div class="text-right d-xs-block d-sm-block d-md-none">
            <button id="sidebar-toggle" class="btn toggle-button" onclick="ToggleSideMenu()">
                <div class="text-close"> <i class="fa fa-fw fa-bars"></i> אזור הניהול </div>
                <div class="text-open"> <i class="fa fa-fw fa-times"></i> </div>
            </button>
        </div>

        <ul class="right-to-left admin-navbar bg-dark d-none d-md-block" padding-top: 0;padding-bottom: 0;>
            <li class="d-none d-md-block">
                <img src="/images/logos/Logo_100_BW.png" style="width: 135px;" />
            </li>
            <li class="admin-navbar-brand text-center" style="margin-top: -25px;">
                <span class="admin-navbar-brand-link" style="color: white;">אזור הניהול</span>
            </li>
            <li class="list-divider"></li>
            <li>
                <a asp-area="Management" asp-controller="Dashboard" asp-action="Index">מידע כללי</a>
            </li>
            @if (Actor.HasSystemRole(SystemRoles.ConventionManager) ||
            Actor.HasSystemRole(SystemRoles.ReceptionManager))
            {
                <li>
                    <a asp-area="Management" asp-controller="Reception" asp-action="Manage">דלפק קבלה</a>
                </li>
            }
            @if (Actor.HasSystemRole(SystemRoles.ContentManager) ||
           Actor.HasSystemRole(SystemRoles.ConventionManager) ||
           Actor.HasSystemRole(SystemRoles.UsersManager))
            {
                <li class="list-divider"></li>
                @if (Actor.HasSystemRole(SystemRoles.ConventionManager) ||
               Actor.HasSystemRole(SystemRoles.ContentManager))
                {
                    <li>
                        <a asp-area="Management" asp-controller="Participants" asp-action="Manage">ניהול - משתתפים</a>
                    </li>
                }

                @if (Actor.HasSystemRole(SystemRoles.ConventionManager) ||
               Actor.HasSystemRole(SystemRoles.ContentManager))
                {
                    <li>
                        <a asp-area="Management" asp-controller="Events" asp-action="Manage">ניהול - אירועים</a>
                    </li>
                }

                @if (Actor.HasSystemRole(SystemRoles.ConventionManager))
                {
                    <li class="list-divider"></li>
                    <li>
                        <a asp-area="Management" asp-controller="Displays" asp-action="Manage">ניהול - תצוגות</a>
                    </li>
                    <li>
                        <a asp-area="Management" asp-controller="Convention" asp-action="Manage">ניהול - כנסים</a>
                    </li>
                }
                <li class="list-divider"></li>
                <li>
                    <a asp-area="Management" asp-controller="Statistics" asp-action="Index">סטטיסיטיקות</a>
                </li>

            }
            <li class="list-divider"></li>
            <li>
                <a href="/"><i class="fa fa-fw fa-angle-right"></i>חזרה</a>
            </li>
        </ul>
        <div class="container">
            <div class="container-admin">
                <h4 class="Title-Text">
                    @ViewBag.Title
                    <small class="text-secondary">
                        &nbsp;&nbsp;
                        @if (Actor.HasManagedConvention)
                        {
                            <span>
                                @Actor.ManagedConvention.ConventionName
                            </span>
                        }
                        else
                        {
                            <span class="text-danger">
                                לא מוגדר כנס מנוהל
                            </span>

                        }
                    </small>
                </h4>

                @RenderSection("Subheader", required: false)

                <div class="modal-placeholder" id="modal-placeholder" style="display: none;">
                    <div class="modal-placeholder-content text-center">
                        <i class="fa fa-fw fa-spin fa-spinner"></i> אנא המתן...
                    </div>
                </div>

                <div class="body-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    <div id="helpers" hidden>
        <input id="helper-tab" value="@ViewBag.HelperTab" />
    </div>
    @await Html.PartialAsync("_PartialSharedScripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
