@using System.Globalization
@using DragonCon.Features.Shared
@using DragonCon.Modeling.Helpers
@model DragonCon.Features.Shared.DisplayEventsViewModel
@{
    var isSelectable = false;
    List<string> selectedMap = new List<string>();

    if (Model is DisplaySelectableEventsViewModel selectable)
    {
        isSelectable = true;
        selectedMap = selectable.EventIdsSelected;
    }
}
<table class="table table-events" style="line-height: 1.75">
    @foreach (var approved in Model.Events.OrderBy(x => x.TimeSlot.From))
    {
        if (approved == null)
        {
            continue;
        }

        <tr class="event-row-filter"
            data-event="@approved.Id.GetNumberFromId()"
            data-day="@approved.Day?.Id,@approved.TimeSlot?.From.ToString("H:mm", CultureInfo.InvariantCulture)"
            data-activity="@approved.Activity?.Id,@approved.SubActivity?.Id">
            <th colspan="100%"></th>
        </tr>
        <tr class="top-row event-row event-row-@approved.Id.GetNumberFromId()" style="font-size: 1.5em;">
            <td colspan="3" class="text-right text-middle tw-10">
                <span class="pull-left text-left">
                    @if (approved.Activity != null)
                    {
                        <span class="badge event-badge badge-offset-left text-bold">
                            <i class="fa fa-fw fa-dice-d6" data-toggle="tooltip" title="סוג הפעילות"></i>
                            @approved.Activity.Name
                        </span>
                    }

                    @if (approved.SubActivity != null)
                    {
                        <br />
                        <span class="badge event-badge badge-offset-left">
                            <i class="fa fa-fw fa-dice-d6" data-toggle="tooltip" title="סוג פעילות משנה"></i>
                            @approved.SubActivity.Name
                        </span>
                    }

                </span>
                @if (isSelectable)
                {
                    <span class="checkboxes-container">
                        <div class="checkboxes">
                            <div class="check">
                                <input id="event-check-@approved.Id.GetNumberFromId()" type="checkbox" onChange="checkbox('@approved.Id.GetNumberFromId()')" />
                                <label for="event-check-@approved.Id.GetNumberFromId()">
                                    <div class="box"><i class="fa fa-check"></i></div>
                                </label>
                            </div>
                        </div>
                    </span>
                }
                @{
                    var moneyBadgeClass = isSelectable ? "" : "badge-offset-right";
                }
                @if (approved.IsFree)
                {
                    <span class="badge event-badge @moneyBadgeClass" data-toggle="tooltip" title="אירוע זה לא נספר במכסת האירוע של הכרטיס"><i class="fa fa-fw fa-shekel-sign"></i> אירוע חופשי</span>
                    <br />
                }
                @if (approved.ExtraCharge > 0)
                {
                    <span class="badge event-badge @moneyBadgeClass" data-toggle="tooltip" title="אירוע זה בתשלום נוסף"><i class="fa fa-fw fa-shekel-sign"></i> אירוע בתשלום נוסף - @approved.ExtraCharge ש" ח</span>
                    <br />
                }

                <span class="text-bold">
                    @approved.Name
                </span>


            </td>

        </tr>
        <tr class="event-row event-row-@approved.Id.GetNumberFromId()" style="font-size: 1.25em;">
            <td class="tw-4 text-center">
                @if (approved.Day != null)
                {
                    <span>
                        <i class="far fa-fw fa-calendar-alt" data-toggle="tooltip" title="יום האירוע"></i>
                        @approved.Day?.Date.DayOfWeek.InHebrew(),
                        ה-@approved.Day?.Date.ToString("dd/MM", CultureInfo.InvariantCulture)
                        <br />
                    </span>
                }

                @if (approved.TimeSlot != null)
                {
                    <span>
                        <i class="far fa-fw fa-clock" data-toggle="tooltip" title="שעות האירוע"></i>
                        @approved.TimeSlot?.From.ToString("H:mm", CultureInfo.InvariantCulture)
                        -@approved.TimeSlot?.To.ToString("H:mm", CultureInfo.InvariantCulture)
                        <br />
                    </span>
                }

            </td>
            <td class="tw-4 text-center">
                <i class="fa fa-fw fa-user-circle" data-toggle="tooltip" title="מנחי האירוע"></i>
                @foreach (var host in approved.GameHosts)
                {
                    @host?.FullName
                }
                @if (approved.GameHosts.Any(x => x != null) == false)
                {
                    <span>טרם נקבע</span>
                }
                <br />
                @if (approved.Hall != null)
                {
                    <span>
                        <i class="fa fa-fw fa-dungeon" data-toggle="tooltip" title="המיקום בכנס"></i> @approved.Hall?.Name - שולחן @approved.HallTable
                        <br />
                    </span>
                }
            </td>
            <td class="tw-4 text-center">

                @{
                    var seatRatio = approved.SeatsAvailable / (double)approved.SeatsCapacity;
                    var seatTitle = "נותרו מקומות פנויים";

                    var seatColor = "text-success";
                    if (seatRatio < 0.3)
                    {
                        seatTitle = "נותרו מקומות אחרונים";
                        seatColor = "text-warning";
                    }
                    if (seatRatio == 0)
                    {
                        seatTitle = "אין מקומות פנויים";
                        seatColor = "text-danger";
                    }
                }
                <i class="fa fa-fw fa-circle @seatColor"
                   data-toggle="tooltip" title="@seatTitle"></i> @approved.SeatsAvailable מקומות פנויים

                <br />
                <i data-toggle="tooltip" title="הגבלת הגיל לאירוע"
                   class="fa fa-fw fa-child"></i> @approved.AgeGroup.GetDescription()
            </td>
        </tr>
        <tr class="bottom-row text-right event-row event-row-@approved.Id.GetNumberFromId()" style="font-size: 1.25em;">
            <td colspan="100%" class="text-right">
                <div class="row">
                    <div class="col-6 text-right">
                        <div class="btn toggle-content-btn toggle-content-btn btn-large"
                             data-section="desc-@approved.Id.GetNumberFromId()">
                            <i class="fa fa-fw fa-comment-alt"
                               data-toggle="tooltip" title="הצגה והסתרה של תיאור האירוע"></i> תיאור האירוע
                        </div>
                    </div>
                    <div class="col-6 text-left"> 
                        <div class="btn toggle-content-btn toggle-content-btn btn-large"
                             data-section="share-@approved.Id.GetNumberFromId()">
                            <i class="fa fa-fw fa-share-alt"
                               data-toggle="tooltip" title="הצגה והסתרה של אפשרויות השיתוף"></i> שיתוף האירוע
                        </div>
                    </div>
                </div>
                <div class="card toggle-content toggle-content-hidden" id="desc-@approved.Id.GetNumberFromId()">
                    <strong>תיאור האירוע</strong><br/>
                    @approved.Description
                </div>
                <div class="card toggle-content toggle-content-hidden" id="share-@approved.Id.GetNumberFromId()">
                    <strong>שיתוף האירוע</strong><br/>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fab fa-fw fa-facebook"></i>
                                שיתוף בפייסבוק
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fab fa-fw fa-twitter"></i>
                                שיתוף בטוויטר
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fab fa-fw fa-instagram"></i>
                                שיתוף באינסטרגרם
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-fw fa-at"></i>
                                שיתוף במייל
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-fw fa-copy"></i>
                                העתקת הקישור
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
