@using DragonCon.Modeling.Models.UserDisplay

<footer style="font-size: 1.1em;">
    <div class="right-to-left">
        <div class="text-center">
            <h4 style="margin-bottom: 15px;" class="text-bold">הכנס בחסות &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Sponsored By</h4>
        </div>
        <div class="text-center">
            @foreach (var sponsor in Actor.DisplayDynamics.Sponsors)
            {
                <img title="@sponsor.Caption" src="@sponsor.ImageUrl" class="sponsor-image" onclick="openInNewTab('@sponsor.SponsorUrl')" />
            }
        </div>
    </div>
    <br />


    <div class="dragon-black-background">
        <ul class="nav nav-pills nav-justified container" style="color: whitesmoke;">
            <li class="nav-item">
                <a class="nav-link">
                    &copy; אתר דרקוניקון - @DateTime.Today.Year
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link dragon-organge-link"
                   asp-area="Convention"
                   asp-controller="Home"
                   asp-action="Usage">תנאי שימוש ופרטיות</a>
            </li>

            <li class="nav-item">
                <a class="nav-link dragon-organge-link"
                   asp-area="Convention"
                   asp-controller="Home"
                   asp-action="SiteMap">מפת האתר</a>
            </li>

            <li class="nav-item">
                <a class="nav-link dragon-organge-link"
                   asp-area="Convention"
                   asp-controller="Home"
                   asp-action="Index"
                   asp-fragment="tag_contactus">יצירת קשר</a>
            </li>
            @if (Actor.HasAnySystemRole)
            {
                <li class="nav-item">
                    <a href="#" class="nav-link dragon-organge-link">זמן @Actor.LoadTimeInMs מ"ש</a>
                </li>

            }

        </ul>
    </div>
</footer>