@using System.Globalization
@using DragonCon.Modeling.Helpers
@model DragonCon.App.Settings.DaysSettings
@if (Actor.HasDisplayConvention)
{
    var linkage = Actor.DisplayDynamics.Linkage;
    var convention = Actor.DisplayConvention;
    var counter = 1;

    @foreach (var day in convention.Days)
    {
        <strong>יום כנס @counter:</strong>
        <br />
        <span>
            @day.Date.DayOfWeek.InHebrew() ה-@day.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
            <br /> מהשעה @day.StartTime.ToString("HH:mm", CultureInfo.InvariantCulture) ועד השעה @day.EndTime.ToString("HH:mm", CultureInfo.InvariantCulture)<br />
        </span>
        <br />
        counter++;
    }

    @if (Model.ShowProgramImages && linkage.ProgramImage.IsNotEmptyString())
    {
        <img src="@linkage.ProgramImage" style="width: 100%" />
        <br />
    }


    @if (Model.ShowProgramLink && linkage.ProgramLink.IsNotEmptyString())
    {
        <div class="text-center">
            <a target="_blank" href="@linkage.ProgramLink" class="btn dragon-btn">להורדת התוכניה</a>
        </div>
    }
}