<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>דרקוניקון - @ViewBag.Title</title>
    @await Html.PartialAsync("_PartialSharedStyles")
    @RenderSection("Styles", required: false)
</head>
<body class="right-to-left" style="text-align: right;">
    @await Html.PartialAsync("_PartialErrorResult")
    @await Html.PartialAsync("_PartialAntiForgery")

    <div class="d-none d-md-block d-print-none">
        <div id="mySidenav" class="sidenav">
            <a asp-area="Convention" asp-controller="Home" asp-action="Updates" id="side-news">עדכוני כנס &nbsp;<i class="fa fa-fw fa-rss"></i></a>
            <a href="#" id="side-facebook">דף פייסבוק &nbsp;<i class="fab fa-fw fa-facebook"></i></a>
            <a asp-area="Convention" asp-controller="Home" asp-action="Index" asp-fragment="tag_contactus" id="side-contact">יצירת קשר &nbsp;<i class="fa fa-fw fa-envelope"></i></a>
            @if (Actor.HasAnySystemRole)
            {
                <a asp-area="Management" asp-controller="Dashboard" asp-action="Index" id="side-manage">אזור ניהול &nbsp;<i class="fa fa-fw fa-tools"></i></a>
            }
        </div>
    </div>

    <nav class="navbar navbar-dragon navbar-expand-md" style="padding-top: 0;padding-bottom: 0;">
        <a class="navbar-brand" href="/"><img src="/images/logos/Logo_100.png" style="height: 80px;" /></a>
        <h2 class="text-bold dragon-orange-color d-block d-md-none">דרקוניקון</h2>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            תפריט
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="font-size: 1.5em;" id="navbarSupportedContent">
            <ul class="navbar-nav nav-fill h-auto w-100">
                <li id="nav-home" class="nav-item" style="padding-left: 15px">
                    <a class="h-auto nav-link" href="/">דף הבית</a>
                </li>
                <li id="nav-events" class="nav-item" style="padding-left: 15px">
                    <a class="nav-link" asp-area="Convention" asp-controller="Events" asp-action="Index">אירועי הכנס</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li id="nav-personal" class="nav-item" style="padding-left: 15px">
                        <a class="nav-link" asp-area="Participant" asp-controller="Personal" asp-action="Index">
                            <span class="text-bold">
                                האיזור האישי
                            </span>
                        </a>
                    </li>
                }
                else
                {
                    <li id="nav-register" class="nav-item" style="padding-left: 15px">
                        <a class="nav-link" asp-area="Participant" asp-controller="Account" asp-action="LoginOrRegister">הרשמה לכנס</a>
                    </li>
                }
                <li id="nav-info" class="nav-item" style="padding-left: 15px">
                    <a class="nav-link" asp-area="Convention" asp-controller="Home" asp-action="Info">מידע למבקרים</a>
                </li>
                <li id="nav-volunteer" class="nav-item" style="padding-left: 15px">
                    <a class="nav-link" asp-area="Convention" asp-controller="Home" asp-action="Volunteering">מידע למתנדבים</a>
                </li>
                <li id="nav-about" class="nav-item" style="padding-left: 15px">
                    <a class="nav-link" asp-area="Convention" asp-controller="Home" asp-action="About">על הכנס</a>
                </li>

                <li id="nav-english" class="nav-item" style="padding-left: 15px">
                    <a class="nav-link" asp-area="Convention" asp-controller="Home" asp-action="English">English</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="Title-Text dragon-orange-color text-bold text-center">
            @if (Actor.HasDisplayConvention)
            {
                <div class="row">
                    <div class="col-12 col-md-6">@Actor.DisplayConvention.ConventionName</div>
                    <div class="col-12 col-md-6">
                        <small>
                            @Actor.DisplayConvention.TagLine
                        </small>
                    </div>
                </div>
            }
        </h1>

        <div class="modal-placeholder" id="modal-placeholder" style="display: none;">
            <div class="modal-placeholder-content text-center">
                <i class="fa fa-fw fa-spin fa-spinner"></i> אנא המתן...
            </div>
        </div>

        <div class="body-content no-background">
            @RenderBody()
        </div>
        <div id="helpers" hidden>
            <input id="helper-tab" value="@ViewBag.HelperTab" />
        </div>


    </div>
    @await Html.PartialAsync("_PartialFooter")
    @await Html.PartialAsync("_PartialSharedScripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
