@using System.Globalization
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Events
@using NodaTime
@model DragonCon.Features.Management.Events.EventsManagementViewModel

<div class="text-right" style="padding: 15px;">
    <a asp-area="Management" asp-controller="Events" asp-action="CreateUpdateEvent">
        <i class="fa fa-fw fa-plus-square"></i> הוספת אירוע
    </a>
</div>

<div class="filter-container">
    <strong>חיפוש חופשי</strong>
    <div class="row">
        <div class="col-10">
            <input class="form-control" placeholder="חיפוש לפי שם אירוע או שם מנחה"/>
        </div>
        <div class="col-2">
            <button class="btn btn-filter btn-info"><i class="fa fa-fw fa-search"></i> חיפוש</button>
        </div>
    </div>
</div>

<div class="filter-container">
    <form asp-area="Management" asp-controller="Events" asp-action="Manage">
        <strong>סינון לפי</strong>
        <br />

        <div class="row">
            <div class="col-1">
                <label>סטטוס</label>
            </div>
            <div class="col-2">
                <select class="form-control chosen-select"
                        asp-for="ActiveFilters.Status"
                        asp-items="Actor.DropDowns.BuildStatus()"
                        data-placeholder="סטטוס אירוע">
                    <option value="" selected>הכל</option>
                </select>
            </div>
            <div class="col-1">
                <label>שעה</label>
            </div>
            <div class="col-4">
                <select class="form-control chosen-select"
                        asp-for="ActiveFilters.DayAndTime"
                        asp-items="Actor.DropDowns.BuildDaysTimes()"
                        data-placeholder="מועד התחלה">
                    <option value="" selected>הכל</option>
                </select>
            </div>

            <div class="col-1">
                <label>משך</label>
            </div>
            <div class="col-2">
                <select class="form-control chosen-select"
                        asp-for="ActiveFilters.Duration"
                        asp-items="Actor.DropDowns.BuildDurations()"
                        data-placeholder="משך">
                    <option value="" selected>הכל</option>
                </select>
            </div>


        </div>
        <br />
        <div class="row">

            <div class="col-1">
                <label class="label-control">פעילות</label>

            </div>
            <div class="col-4">
                <select class="form-control chosen-select"
                        asp-for="ActiveFilters.Activity"
                        asp-items="Actor.DropDowns.Activities()" data-placeholder="פעילות ושיטות">
                    <option value="" selected>הכל</option>
                </select>
            </div>

            <div class="col-1">
                <label>גיל</label>
            </div>
            <div class="col-3">
                <select class="form-control chosen-select"
                        asp-for="ActiveFilters.AgeGroup"
                        asp-items="Actor.DropDowns.BuildAgeGroups()"
                        data-placeholder="קבוצת גיל">
                    <option value="" selected>הכל</option>
                </select>
            </div>


            <div class="col-3">
                <button class="btn btn-filter btn-info" type="submit"><i class="fa fa-fw fa-filter"></i> סינון </button>
                <a class="btn btn-danger" asp-area="Management" asp-controller="Events" asp-action="Manage">
                    <i class="fa fa-fw fa-times"></i>
                    איפוס

                </a>
            </div>
        </div>
    </form>
</div>
<table id="accordion" class="table table-couple-striped text-right">
    <tbody>
        @foreach (var evnt in Model.Events.OrderByDescending(x => x.Model.Name))
        {
            var statusColor = "";
            switch (evnt.Model.Status)
            {
                case EventStatus.Approved:
                    statusColor = "text-success";
                    break;
                case EventStatus.Pending:
                    statusColor = "text-info";
                    break;
                case EventStatus.Canceled:
                case EventStatus.Declined:
                    statusColor = "text-danger";
                    break;
            }


            <tr>
                <td>
                    <a class="text-black" data-toggle="collapse" href="#extra-data-@evnt.Model.Id.GetNumberFromId()" title="הצגת פרטים מלאים">
                        <strong>@evnt.Model.Name</strong><i class="fa fa-fw fa-caret-down"></i>
                    </a>
                    <br/>
                     

                    @if (evnt.Activity == null)
                    {
                        <span class="text-danger">חסר סוג פעילות</span>
                    }
                    else
                    {
                        <span class="text-primary text-light-bold">@evnt.Activity?.Name</span>
                    }

                    @if (evnt.SubActivity != null)
                    {
                        <span class="text-light-bold"> - @evnt.SubActivity?.Name</span>
                    }

                    

                    <br/>
                    @if (evnt.GameMasters.Any())
                    {
                        @foreach (var master in evnt.GameMasters)
                        {
                            @if (master == null)
                            {
                                <strong class="text-danger">משתמש לא קיים,</strong>

                            }
                            else
                            {
                                <strong class="text-secondary">@master?.FullName</strong>
                            }
                        }
                    }
                    else
                    {
                        <span class="text-danger">חסרה הנחיה</span>
                    }
                </td>
                <td class="tw-3">
                    <strong>@evnt.Day?.GetDescription()</strong>
                    @if (evnt.Activity == null)
                    {
                        <strong class="text-danger">חסר תאריך</strong>
                    }
                    <br />

                    @if (evnt.Model.TimeSlot == null)
                    {
                        <span class="text-danger">חסרים שעת התחלה ומשך</span>
                    }
                    else
                    {
                        <span>@evnt.Model.TimeSlot?.GetDescription()</span>
                    }

                </td>
                <td class="tw-2">
                    <strong>@evnt.Hall?.Name</strong>
                    @if (evnt.Hall == null)
                    {
                        <strong class="text-danger">חסר מיקום</strong>
                    }
                    else
                    {
                        <span>
                            <br/>
                            שולחן @evnt.Model?.HallTable<br/>
                        </span>
                    }
                </td>
                <td>
                    <strong class="@statusColor">@evnt.Model.Status.ToTextual()</strong>
                </td>
                <td>
                    <div class="dropdown pull-left">
                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm">
                            <i class="fa fa-fw fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-area="Management" asp-controller="Events"
                               asp-action="ViewEventHistory">
                                <i class="fa fa-fw fa-history"></i> היסטוריה
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Management" asp-controller="Events"
                               asp-action="QuickUpdateEvent">
                                <i class="fa fa-fw fa-pencil-alt"></i> עדכון מהיר
                            </a>
                            <a class="dropdown-item" asp-area="Management" asp-controller="Events"
                               asp-action="CreateUpdateEvent"
                               asp-route-eventId="@evnt.Model.Id.GetNumberFromId()">
                                <i class="fa fa-fw fa-edit"></i> עדכון מלא
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Management" asp-controller="Events"
                               asp-action="CloneEvent">
                                <i class="fa fa-fw fa-clone"></i> שכפול אירוע
                            </a>
                            @if (evnt.GameMasters.Any(x => x != null))
                            {
                                <div class="dropdown-divider"></div>
                                <div class="text-center">
                                    <a>עריכת מנחים</a>
                                </div>
                            }
                            @foreach (var gm in evnt.GameMasters)
                            {
                                if (gm == null)
                                {
                                    continue;
                                }

                                <a class="dropdown-item" asp-area="Management" asp-controller="Events"
                                   asp-action="UpdateEventAgeRestriction">
                                    <i class="fa fa-fw fa-user-edit"></i> @gm?.FirstName
                                </a>
                            }

                        </div>
                </td>
            </tr>
            <tr id="extra-data-@evnt.Model.Id.GetNumberFromId()" 
                class="collapse" data-parent="#accordion">
                <td colspan="100%">
                    <table class="table table-no-border table-no-background">
                        <tr>
                            <td class="tw-2">
                                <strong>תיאור </strong>
                            </td>
                            <td class="tw-10">
                                @if (evnt.Model.Description.IsEmptyString())
                                {
                                    <span class="text-danger">חסר תיאור</span>
                                }
                                else
                                {
                                    @evnt.Model.Description
                                }
                            </td>
                        </tr>
                        @if (evnt.Model.SpecialRequests.IsNotEmptyString())
                        {
                            <tr>
                                <td>
                                    <strong>בקשות מיוחדות </strong>
                                </td>
                                <td>
                                    @evnt.Model.SpecialRequests
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <strong>קבוצת גיל</strong>
                            </td>
                            <td>
                                @if (evnt.AgeGroup == null)
                                {
                                    <span class="text-danger">חסרה קבוצת גיל</span>
                                }
                                else
                                {
                                    <span>@evnt.AgeGroup.GetDescription()</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>מספר משתתפים</strong>
                            </td>
                            <td>
                                <span>מ-</span>
                                @if (evnt.Model.Size.Min == null || evnt.Model.Size.Min == 0)
                                {
                                    <span class="text-info">ללא הגבלה</span>
                                }
                                else
                                {
                                    <span>@evnt.Model.Size.Min</span>
                                }

                                <span>עד-</span>
                                @if (evnt.Model.Size.Max == null || evnt.Model.Size.Max == 0)
                                {
                                    <span class="text-info">ללא הגבלה</span>
                                }
                                else
                                {
                                    <span>@evnt.Model.Size.Max</span>
                                }
                            </td>
                        </tr>
                        @if (evnt.Model.IsSpecialPrice)
                        {
                            <tr>
                                <td>
                                    <strong>מחיר מיוחד</strong>
                                </td>
                                <td>
                                    <span>@evnt.Model.SpecialPrice @Html.Raw(DragonConstants.NIS_SYMBOL)</span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <strong>נוצר בתאריך</strong>
                            </td>
                            <td>
                                <span>@evnt.Model.CreatedOn.ToString(DragonConstants.DEFAULT_DATE, CultureInfo.CurrentCulture)</span>
                            </td>
                        </tr>
                        @if (evnt.Model.UpdatedOn != new Instant())
                        {
                            <tr>
                                <td>
                                    <strong>עודכן לאחרונה</strong>
                                </td>
                                <td>
                                    <span>@evnt.Model.UpdatedOn.ToString(DragonConstants.DEFAULT_DATE, CultureInfo.CurrentCulture)</span>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>