@using System.Globalization
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Events
@using NodaTime
@model DragonCon.Features.Management.Events.EventsManagementViewModel

<div class="text-right" style="padding: 15px;">
    <a asp-area="Management" asp-controller="Events" asp-action="CreateUpdateEvent" class="card-semibutton">
        <i class="fa fa-fw fa-plus-square"></i> הוספת אירוע
    </a>
</div>

<div class="filter-container">
    <strong>חיפוש חופשי</strong>
    <form asp-area="Management" asp-controller="Events" asp-action="ManageSearch">
        <div class="row">
            <div class="col-10">
                <input name="searchWords" class="form-control" placeholder="חיפוש לפי שם אירוע או שם מנחה" />
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-filter btn-info"><i class="fa fa-fw fa-search"></i> חיפוש</button>
            </div>
        </div>
    </form>
</div>

<div class="filter-container">
    <form asp-area="Management" asp-controller="Events" asp-action="Manage">
        <strong>סינון לפי</strong>
        <br />

        <div class="row">
            <div class="col-1">
                <label>סטטוס</label>
            </div>
            <div class="col-2">
                <select class="form-control chosen-select"
                        asp-for="ActiveFilters.Status"
                        asp-items="Actor.ManagedDropDowns.BuildStatus()"
                        data-placeholder="סטטוס אירוע">
                    <option value="" selected>הכל</option>
                </select>
            </div>
            <div class="col-1">
                <label>שעה</label>
            </div>
            <div class="col-4">
                <select class="form-control chosen-select"
                        asp-for="ActiveFilters.DayAndTime"
                        asp-items="Actor.ManagedDropDowns.BuildDaysTimes()"
                        data-placeholder="מועד התחלה">
                    <option value="" selected>הכל</option>
                </select>
            </div>

            <div class="col-1">
                <label>משך</label>
            </div>
            <div class="col-2">
                <select class="form-control chosen-select"
                        asp-for="ActiveFilters.Duration"
                        asp-items="Actor.ManagedDropDowns.BuildDurations()"
                        data-placeholder="משך">
                    <option value="" selected>הכל</option>
                </select>
            </div>


        </div>
        <br />
        <div class="row">

            <div class="col-1">
                <label class="label-control">פעילות</label>

            </div>
            <div class="col-4">
                <select class="form-control chosen-select"
                        asp-for="ActiveFilters.Activity"
                        asp-items="Actor.ManagedDropDowns.Activities()" data-placeholder="פעילות ושיטות">
                    <option value="" selected>הכל</option>
                </select>
            </div>

            <div class="col-1">
                <label>גיל</label>
            </div>
            <div class="col-3">
                <select class="form-control chosen-select"
                        asp-for="ActiveFilters.AgeGroup"
                        asp-items="Actor.ManagedDropDowns.BuildAgeGroups()"
                        data-placeholder="קבוצת גיל">
                    <option value="" selected>הכל</option>
                </select>
            </div>


            <div class="col-3">
                <button class="btn btn-filter btn-info" type="submit"><i class="fa fa-fw fa-filter"></i> סינון </button>
                <a class="btn btn-danger" asp-area="Management" asp-controller="Events" asp-action="Manage">
                    <i class="fa fa-fw fa-times"></i>
                    איפוס

                </a>
            </div>
        </div>
    </form>
</div>
<table id="accordion" class="table table-couple-striped table-sparse text-right">
    <tbody>
        @foreach (var evnt in Model.Events.OrderByDescending(x => x.Inner.Name))
        {
            var statusColor = "";
            switch (evnt.Inner.Status)
            {
                case EventStatus.Pending:
                    statusColor = "dragon-organge-color  text-bold";
                    break;
                case EventStatus.Canceled:
                case EventStatus.Declined:
                    statusColor = "text-danger text-bold";
                    break;
            }

            <tr class="row">
                <td class="tw-4">
                    <a class="text-black" data-toggle="collapse" href="#extra-data-@evnt.Inner.Id.GetNumberFromId()" title="הצגת פרטים מלאים">
                        <strong>@evnt.Inner.Name</strong>&nbsp;<i class="fa fa-fw fa-caret-down"></i>
                    </a>
                    <br />

                    @if (evnt.Activity == null)
                    {
                        <strong class="text-danger">חסר סוג פעילות</strong>
                    }
                    else
                    {
                        <strong class="text-primary">@evnt.Activity?.Name</strong>
                    }

                    @if (evnt.SubActivity != null)
                    {
                        <strong> - @evnt.SubActivity?.Name</strong>
                    }

                    <br />

                    @if (evnt.GameHosts.Any())
                    {
                        <strong>הנחיה: </strong>
                        @foreach (var master in evnt.GameHosts)
                        {
                            @if (master == null)
                            {
                                <strong class="text-danger">משתמש לא קיים</strong>

                            }
                            else
                            {
                                <span>@master?.FullName</span>
                            }
                        }
                    }
                    else
                    {
                        <strong class="text-danger">חסרה הנחיה</strong>
                    }

                    @if (evnt.Inner.SpecialRequests.IsNotEmptyString())
                    {
                        <br />
                        <span class="text-danger text-heavy-bold">בקשות מיוחדות: </span> @evnt.Inner.SpecialRequests

                    }
                </td>
                <td class="tw-4">
                    <strong>@evnt.Day?.GetDescription()</strong>
                    @if (evnt.Activity == null)
                    {
                        <strong class="text-danger">חסר תאריך</strong>
                    }
                    <br />

                    @if (evnt.Inner.TimeSlot == null)
                    {
                        <span class="text-danger">חסרים שעת התחלה ומשך</span>
                    }
                    else
                    {
                        <span>@evnt.Inner.TimeSlot?.GetDescription()</span>
                    }

                </td>
                <td class="tw-2">
                    <strong>@evnt.Hall?.Name</strong>
                    @if (evnt.Hall == null)
                    {
                        <strong class="text-danger">חסר מיקום</strong>
                    }
                    else
                    {
                        <span>
                            <br />
                            שולחן @evnt.Inner?.HallTable<br />
                        </span>
                    }
                </td>
                <td class="tw-1">
                    <span class="@statusColor">@evnt.Inner.Status.ToTextual()</span>
                </td>
                <td class="tw-1">
                    <div class="row">
                        <div class="col-5">
                            @{
                                var quickUpdate = new
                                {
                                    Id = evnt.Inner.Id,
                                    Name = evnt.Inner.Name,
                                    Status = evnt.Inner.Status.ToString(),
                                    Location = $"{evnt.Inner.HallId},{evnt.Inner.HallTable}",
                                }.AsJson();
                            }
                            <a class="btn btn-sm btn-primary" onclick="QuickEventUpdate('@quickUpdate')"
                               title="עדכון מהיר" style="color: white;">
                                <i class="fa fa-fw fa-pencil-alt"></i>
                            </a>
                        </div>
                        <div class="col-5">
                            <div class="dropdown">
                                <a href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                   class="btn btn-sm btn-warning" title="אפשרויות נוספות">
                                    <i class="fa fa-fw fa-cog"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                    <a class="dropdown-item" asp-area="Management"
                                       asp-controller="Events"
                                       asp-action="CreateUpdateEvent"
                                       asp-route-eventId="@evnt.Inner.Id.GetNumberFromId()">
                                        <i class="fa fa-fw fa-edit"></i> עדכון
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" onclick="ViewEventHistory('@evnt.Inner.Id')">
                                        <i class="fa fa-fw fa-history"></i> היסטוריה
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Management" asp-controller="Events" aria-checkedasp-action="CloneEvent">
                                        <i class="fa fa-fw fa-clone"></i> שכפול אירוע
                                    </a>
                                    @if (evnt.GameHosts.Any(x => x != null))
                                    {
                                        <div class="dropdown-divider"></div>
                                        <div class="text-center text-bold" style="    background: #ffcd6e;">
                                            <a>עריכת מנחים</a>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    }
                                    @foreach (var gameHost in evnt.GameHosts)
                                    {
                                        if (gameHost == null)
                                        {
                                            continue;
                                        }

                                        <a class="dropdown-item" asp-area="Management" asp-controller="Participants"
                                           asp-action="CreateUpdateParticipant"
                                           asp-route-collection="@gameHost.Id.GetCollectionFromId()" asp-route-id="@gameHost.Id.GetNumberFromId()">
                                            <i class="fa fa-fw fa-user-edit"></i> @gameHost?.FirstName
                                        </a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr id="extra-data-@evnt.Inner.Id.GetNumberFromId()"
                class="collapse extension-panel" data-parent="#accordion">
                <td colspan="100%">
                    <table class="table table-no-border table-no-background">
                        <tr>
                            <td class="tw-2">
                                <strong>תיאור </strong>
                            </td>
                            <td class="tw-10">
                                @if (evnt.Inner.Description.IsEmptyString())
                                {
                                    <span class="text-danger">חסר תיאור</span>
                                }
                                else
                                {
                                    @evnt.Inner.Description
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>קבוצת גיל</strong>
                            </td>
                            <td>
                                @if (evnt.AgeGroup == null)
                                {
                                    <span class="text-danger">חסרה קבוצת גיל</span>
                                }
                                else
                                {
                                    <span>@evnt.AgeGroup.GetDescription()</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>מספר משתתפים</strong>
                            </td>
                            <td>
                                <span>מ-</span>
                                @if (evnt.Inner.Size.Min == null || evnt.Inner.Size.Min == 0)
                                {
                                    <span class="text-info">ללא הגבלה</span>
                                }
                                else
                                {
                                    <span>@evnt.Inner.Size.Min</span>
                                }

                                <span>עד-</span>
                                @if (evnt.Inner.Size.Max == null || evnt.Inner.Size.Max == 0)
                                {
                                    <span class="text-info">ללא הגבלה</span>
                                }
                                else
                                {
                                    <span>@evnt.Inner.Size.Max</span>
                                }
                            </td>
                        </tr>
                        @if (evnt.Inner.IsFree)
                        {
                            <tr>
                                <td>
                                    <strong>מחיר מיוחד</strong>
                                </td>
                                <td>
                                    <span>אירוע חינמי</span>
                                </td>
                            </tr>
                        }
                        @if (evnt.Inner.ExtraCharge.HasValue)
                        {
                            <tr>
                                <td>
                                    <strong>תוספת מחיר</strong>
                                </td>
                                <td>
                                    <span>@evnt.Inner.ExtraCharge @Html.Raw(DragonConstants.NIS_SYMBOL)</span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <strong>נוצר בתאריך</strong>
                            </td>
                            <td>
                                <span>@evnt.Inner.CreatedOn.ToString(DragonConstants.DEFAULT_DATE, CultureInfo.CurrentCulture)</span>
                            </td>
                        </tr>
                        @if (evnt.Inner.UpdatedOn != new Instant())
                        {
                            <tr>
                                <td>
                                    <strong>עודכן לאחרונה</strong>
                                </td>
                                <td>
                                    <span>@evnt.Inner.UpdatedOn.ToString(DragonConstants.DEFAULT_DATE, CultureInfo.CurrentCulture)</span>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>



<modal></modal>