@using System.Globalization
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Events
@using StackExchange.Profiling.Internal
@model DragonCon.Features.Management.Events.EventCreateUpdateViewModel
@{
    if (Model.Id != null)
    {
        ViewBag.Title = "עריכת אירוע";
    }
    else
    {
        ViewBag.Title = "הוספת אירוע";
    }
}


@section Subheader {
    <a class="text-info" asp-area="Management" asp-controller="Events" asp-action="Manage"><i class="fa fa-fw fa-chevron-circle-right"></i> חזרה לניהול אירועים</a>
}

<form asp-area="Management" asp-controller="Events" asp-action="CreateUpdateEvent" method="post" class="right-to-left" style="padding: 10px;">
    <input asp-for="Id" hidden />
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>שם האירוע</label>
                <input asp-for="Name" class="form-control" placeholder="שם האירוע ">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label>סטטוס</label>
                <select class="form-control chosen-select" asp-for="Status" data-placeholder="סטטוס אירוע">
                    @foreach (var type in Enums.AsSelectListItem<EventStatus>())
                    {
                        <option value="@type.Value">@type.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>תיאור האירוע</label>
                <textarea class="form-control" rows="5"
                          asp-for="Description" placeholder="תיאור האירוע"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>תגיות</label>
                <input asp-for="Tags" class="form-control" placeholder="תגיות אירוע">
            </div>
        </div>
    </div>


    <br />

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>פעילות</label>
                <select class="form-control chosen-select" asp-for="SystemId"
                        asp-items="Actor.DropDowns.Activities()">
                    <option value="" disabled selected>בחירת אפשרות</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>קבוצת גיל</label>
                <select class="form-control chosen-select" asp-for="AgeRestrictionId"
                        asp-items="Actor.DropDowns.BuildAgeGroups()">
                    <option value="" disabled selected>בחירת אפשרות</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>מספר שחקנים מינימלי</label>
                <input type="number" min="1" max="99" asp-for="Size.Min" placeholder="ריק - ללא הגבלה" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>מספר שחקנים מקסימלי</label>
                <input type="number" min="1" max="99" asp-for="Size.Max" placeholder="ריק - ללא הגבלה" class="form-control">
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label>מועד</label>
                <select class="form-control chosen-select" asp-for="StartTime"
                        asp-items="Actor.DropDowns.BuildDaysTimes()" onchange="ChangedEventDay(this)">
                    <option value="" disabled selected>בחירת מועד</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>משך</label>
                <div id="event-duration">
                    <select class="form-control chosen-select" asp-for="Duration">
                        <option value="" disabled selected>יש לבחור שעת התחלה</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>אולם ושולחן</label>
                <select class="form-control chosen-select" asp-for="Table"
                        asp-items="Actor.DropDowns.BuildHalls()">
                    <option value="" disabled selected>בחירת אולם שולחן</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>מנחים</label>
                <input asp-for="GameMasterIds" class="form-control" placeholder="שמות המנחים">
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>בקשות מיוחדות</label>
                <textarea class="form-control" asp-for="SpecialRequests" placeholder="בקשות מיוחד מהכנס - ציוד, מיקום וכיוצא בזאת"></textarea>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 5px;">
        <div class="col-3">
            <div class="checkbox toggle-padding text-right">
                <label class="label-control">
                    <input class="bootstrap-toggle" asp-for="IsSpecialPrice"
                           onchange="ToggleEventSpecialPrice()"
                           data-toggle="toggle"
                           type="checkbox"
                           data-on="<i class='fa fa-fw fa-check'></i>"
                           data-off="<i class='fa fa-fw fa-times'></i>"
                           data-offstyle="secondary"
                           data-onstyle="primary"
                           data-width="50">
                </label>
                &nbsp;&nbsp;מחיר מיוחד
            </div>
        </div>
        <div class="col-3">
            @{
                var isSpecialPrice = Model.IsSpecialPrice;
                if (isSpecialPrice == false)
                {
                    <div class="col input-group">
                        <input id="is-special-price" type="number" min="0" class="form-control" asp-for="SpecialPrice" disabled />
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="">@Html.Raw(@DragonConstants.NIS_SYMBOL)</span>
                        </div>
                    </div>

                }
                else
                {
                    <div class="col input-group">
                        <input id="is-special-price" type="number" min="0" asp-for="SpecialPrice" class="form-control" />
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="">@Html.Raw(@DragonConstants.NIS_SYMBOL)</span>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
    <br />
    <div class="btn-save-container">
        <button type="submit" class="btn btn-primary btn-save">שמירת אירוע </button>
    </div>

</form>


<div hidden>
    @foreach (var day in Actor.DropDowns.BuildDateTimeDuration())
    {
        <select id="template-duration-@day.Key" class="form-control" 
                asp-for="Duration"
                asp-items="day.Value">
            <option value="" disabled selected>בחירת משך אירוע</option>
        </select>
    }
</div>