@using System.Globalization
@using DragonCon.App.Settings
@using DragonCon.Modeling.Helpers
@{
    ViewData["Title"] = "דף הבית";
    var actor = Actor;
}

@await Html.PartialAsync("_PartialSharedSlider", new SliderSettings
{
    Title = "דרקוניקון בתמונות",
    Slides = Actor.DisplayDynamics.Slides
})

<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            @await Html.PartialAsync("_PartialDragon")
            דרקוניקון - כנס משחקי לוח, תפקידים ומבוכים ודרקונים
        </h3>
        <p class="card-paragraph">
            דרקוניקון הוא כנס המשחקים השולחניים הגדול בישראל.  <br />
            הכנס מאורגן בהתנדבות ומתקיים כל שנה במהלך אוגוסט מ-2007 ועד היום. <br />
            בכנס תמצאו את כל סוגי המשחקים: משחקי-תפקידים שולחניים וחיים, משחקי לוח, משחקי מיניאטורות, טורנירים ועוד.<br />
            הכנס מיועד לכל הגילאים, שחקנים וותיקים וחדשים, מבוגרים ומשפחות. <br />
            <span class="dragon-organge-color text-bold">אז בואו לשחק בדרקוניקון - פיגשו חברים, צאו להרפתקאות וגלו עולמות חדשים!</span>
        </p>
    </div>
</div>

<a class="btn dragon-register-btn" asp-area="Participant" asp-controller="Personal" asp-action="Index">הרשמה לכנס @Actor.DisplayConvention?.ConventionName</a>

<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            איפה ומתי הכנס?
        </h3>
        <div class="row">

            <div class="col-12 col-md-6">
                <p class="card-paragraph">
                    @await Html.PartialAsync("_PartialLocation", new LocationSettings()
                    {
                        ShowMap = true
                    })
                </p>
            </div>
            <div class="col-12 col-md-6">
                <p class="card-paragraph">
                    @await Html.PartialAsync("_PartialConvetionDays")
                </p>
            </div>
        </div>
    </div>
</div>


<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            שאלות נוספות?
        </h3>
        @await Html.PartialAsync("PartailLearnMore")
    </div>
</div>

<a class="btn dragon-register-btn" asp-area="Participant" asp-controller="Personal" asp-action="Index">הרשמה לכנס @Actor.DisplayConvention?.ConventionName</a>

<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            עדכונים אחרונים
        </h3>
        @foreach (var update in Actor.DisplayDynamics.UpdatesLimited.Take(3))
        {
            if (update.Title.IsEmptyString())
            {
                continue;
            }

            <hr />
            <p class="card-paragraph">
                <i class="fa fa-fw fa-bullhorn fa-flip-horizontal"></i>
                <strong>@update.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) - </strong>
                @update.Title <br>
                @if (update.Description.IsNotEmptyString())
                {
                    @update.Description<br />
                }
                @if (update.Link.IsNotEmptyString())
                {
                    <a href="@update.Link" target="_blank"> למידע נוסף <i class="fa fa-fw fa-external-link-alt fa-flip-horizontal"></i></a>
                }
            </p>
        }
        <hr />
        <div class="text-center">
            <a href="" class="btn dragon-btn">לצפיה בכל העדכונים</a>
        </div>
    </div>
</div>

<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            רשימת הדיוור שלנו
        </h3>
        <p class="card-paragraph">
            רוצים לקבל עדכונים לדואר האלקטרוני עם חדשות מדרקוניקון? הרשמו!  <br />
        </p>
        <form class="card-form">
            <div class="form-group">
                <div class="row">
                    <div class="col-8">
                        <input class="form-control" style="text-align: left" type="text" placeholder="me@@gmail.com" />
                    </div>
                    <div class="col-4">
                        <input class="form-control dragon-black-background" style="color:white; font-size: 1.2em;" type="button" value="רשמו אותי" />

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@await Html.PartialAsync("_PartialContactUs")

@section scripts {
    <script>
        SetActiveMenu("nav-home")
    </script>
}
