@using System.Globalization
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Identities
@{
    ViewData["Title"] = "מידע למבקר";
    var actor = Actor;
}


<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            במה אפשר לעזור ?
        </h3>
        <hr />
        <div class="card-deck ">
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_location">
                        <h4 class="text-bold">
                            מיקום והגעה
                        </h4>
                    </a>

                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_days">
                        <h4 class="text-bold">
                            ימי הכנס
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_register">
                        <h4 class="text-bold">
                            הרישום לאירועים
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_ages">

                        <h4 class="text-bold">
                            גילאי המשתתפים
                        </h4>
                    </a>
                </div>
            </div>

        </div>
        <br />
        <div class="card-deck ">
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_tickets">
                        <h4 class="text-bold">
                            מחירון
                        </h4>
                    </a>

                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_stands">
                        <h4 class="text-bold">
                            עמדות לקהל
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_shops">

                        <h4 class="text-bold">
                            דוכנים
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_yad2">

                        <h4 class="text-bold">
                            דוכן יד-2
                        </h4>
                    </a>
                </div>
            </div>

        </div>
        <br />
        <div class="card-deck ">
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_freebies">
                        <h4 class="text-bold">
                            אירועים חינמיים
                        </h4>
                    </a>

                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_library">
                        <h4 class="text-bold">
                            הספרייה
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_resources">

                        <h4 class="text-bold">
                            קבצים וטפסים
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_staff">

                        <h4 class="text-bold">
                            סגל הכנס
                        </h4>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="card card-gray-float" id="tag_location">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            מיקום והגעה
        </h3>
        <p class="card-paragraph">
            @if (actor.HasDisplayConvention)
            {
                var convention = actor.DisplayConvention;
                @convention.Location
                <br />

                <span>להוסיף דרכי הגעה</span>
                <span>להוסיף נוסף מיקום</span>
                <span>להוסיף מפה</span>
            }
        </p>
    </div>
</div>

<div class="card card-gray-float" id="tag_days">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            ימי הכנס
        </h3>
        <p class="card-paragraph">
            @if (actor.HasDisplayConvention)
            {
                var convention = actor.DisplayConvention;
                var counter = 1;

                @foreach (var day in convention.Days)
                {
                    <strong>יום כנס @counter:</strong>
                    <br />
                    <span>
                        @day.Date.DayOfWeek.InHebrew() ה-@day.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                        <br /> מהשעה @day.StartTime.ToString("HH:mm", CultureInfo.InvariantCulture) ועד השעה @day.EndTime.ToString("HH:mm", CultureInfo.InvariantCulture)<br />
                    </span>
                    <br />
                    counter++;
                }
            }
        </p>
    </div>
</div>


<div class="card card-gray-float" id="tag_register">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            הרישום לאירועים
        </h3>
        <p class="card-paragraph">
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            הרישום לאירועים מתבצע כאן באתר בהרשמה מוקדמת <strong>או</strong> בעמדות הקבלה במהלך הכנס.<br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            הרישום המוקדם מבטיח את מקומכם באירועים שתרצו! <br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            הרישום המוקדם מתבצע בצורה מאובטחת דרך PayPal. <br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            אם ברצונך לרשום מספר אנשים ביחד לכנס, יש לבצע רישום לכל אדם בנפרד. <br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            ההרשמה לאירועים בעמדות הקבלה היא על בסיס מקום פנוי. <br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            התשלום בכנס מבוצע במזומן או בכרטיס אשראי. <br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            מומלץ להגיע כחצי שעה לפני תחילת האירוע הראשון אליו רשומים! <br />
        </p>
    </div>
</div>



<div class="card card-gray-float" id="tag_ages">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            גילאי המשתתפים
        </h3>
        <p class="card-paragraph">
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            הכנס מיועד לכל הגילאים ולמשפחות.  <br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            רוב הפעילויות של משחקי לוח ומיניאטורות פונות לגילאי 8 ומעלה.  <br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            רוב הפעילויות של משחקי תפקידים פונות לגילאי 11 ומעלה.  <br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            חלק מהמשחקים מוגבלים לטווח גילאים - על מנת לספק את החוויה הטובה ביותר לשחקנים. <br />
        </p>
    </div>
</div>
<div class="card card-gray-float" id="tag_tickets">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            מחירון
        </h3>
        <p class="card-paragraph">
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            כרטיס כניסה - מאפשר כניסה חופשית לכנס, ללא אירועים בתשלום.  <br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            כרטיס מוגבל אירועים - מאפשר כניסה חופשית לכנס, עם הגבלה על מספר האירועים.  <br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            כרטיס ללא הגבלה - מאפשר כניסה חופשית לכנס והשתתפות חופשית באירועים. .  <br />

            @if (actor.HasDisplayConvention)
            {
                var convention = actor.DisplayConvention;
                <table class="table" style="font-size: 1.5em">
                    <thead class="text-bold">
                        <tr>
                            <td>שם </td>
                            <td>עלות</td>
                            <td>ימים</td>
                            <td>מספר פעילויות</td>
                        </tr>
                    </thead>
                    @foreach (var ticket in convention.Tickets)
                    {
                        <tr>
                            <td>@ticket.Name</td>
                            <td>@ticket.Price ש"ח</td>
                            <td>
                                @foreach (var dat in ticket.DayIds)
                                {
                                    var currentDay = Actor.DisplayConvention.GetDayById(dat);
                                    <span>@currentDay.Date.DayOfWeek.InHebrew() ה-@currentDay.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)<br /></span>
                                }
                            </td>
                            <td>
                                @if (ticket.ActivitiesAllowed.HasValue)
                                {
                                    <span>@ticket.ActivitiesAllowed</span>
                                }
                                else
                                {
                                    <span>ללא הגבלה</span>
                                }

                            </td>
                        </tr>
                    }
                </table>
            <p class="card-paragraph">
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                הכניסה להורה מלווה בודד של משתתף בכנס בתשלום - היא חינם. <br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                ילדים מתחת לגיל 8 נכנסים לכנס בחינם, בתנאי שבכל עת הם בליווי מבוגר שרכש כרטיסים. <br />
            </p>
        }
        </div>
    </div>



    <div class="card card-gray-float" id="tag_stands">
        <div class="card-body">
            <h3 class="card-title text-bold">
                <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
                &nbsp;
                עמדות לקהל
            </h3>
            <p class="card-paragraph">
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>עמדת רכישת כרטיסים ורישום לאירועים</strong> - תפעל משעת תחילת הכנס עד שעתיים לפני תום כל יום. <br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>עמדת איסוף כרטיסים שהוזמנו מראש</strong> - העמדה תפעל בשעות העומס בכנס, שתפעל בשעתיים הראשונות כל יום <br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>עמדת מודיעין</strong> - העמדה תציע מידע והמלצות על האירועים, שתפעל בשעתיים הראשונות של היום.  <br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>דוכן יד-שניה</strong> - הדוכן יפעל במהלך כל הכנס ויספק שירות לכל מי שרכש כרטיס.  <br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>עמדת שתיה ומזון</strong> - תהיה עמדת שתיה קלה וחמה זמינה במהלך כל הכנס.  <br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>עמדת הספרייה</strong> - תהיה עמדת משחקים להשאלה במהלך הכנס.  <br />
            </p>
        </div>
    </div>

    <div class="card card-gray-float" id="tag_shops">
        <div class="card-body">
            <h3 class="card-title text-bold">
                <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
                &nbsp;
                דוכנים
            </h3>
            <p class="card-paragraph">
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>הקוביה</strong> - יבואן לישראל של משחקי-תפקידים ולוח. בנוסף לכך הקוביה מתרגמת לעברית את המשחקים מתיישבי קאטאן, מנצ'קין ועוד.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>מאנקי טיים</strong> - המתרגמת של פאת'פיינדר לעברית, מייבא ומתרגם שלל משחקי-לוח וקלפים.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>הממלכה</strong> - חנות משחקי תחביב בהוד השרון, מוכרת מג'יק, משחקי לוח, קומיקס ומ"ת.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>ממותה</strong> - סטודיו לעיצוב אישי ופנטזיה, המתחתה בעבודות יד מעולמות הפנטזיה והמדע-בדיוני.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>משחקים וחושבים (מו"ח)</strong> - היבואן החדש של משחקי המיניאטורות של Games Workshop לישראל.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>פריק</strong> - חנות תל-אביבית המתמחה במשחקי לוח, משחקי תפקידים, קלפים ועוד.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>הפונדק הוצאה לאור</strong> - עולם מערכה, מוצרי הרחבה והרפתקאות למבוכים ודרקונים ושל פאת'פיינדר.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>הוצאת גיבורים</strong> - ההוצאה לאור של העמותה למשחקי תפקידים בישראל.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>פרש משחקים</strong> - מתרגמים משחקי לוח לעברית.<br />
                <br />
                רוצים להפעיל דוכן בכנס? נשמח לארח אתכם - אנא צרו איתנו קשר!

            </p>
        </div>
    </div>


    <div class="card card-gray-float" id="tag_yad2">
        <div class="card-body">
            <h3 class="card-title text-bold">
                <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
                &nbsp;
                דוכן יד-2
            </h3>
            <p class="card-paragraph">
                יש לכם דרקון ספייר בבוידעם? קיבלתם ביום הולדת עוד חרב קסומה? <br />
                יש לנו פיתרון בשבילכם! בדוכן יד שנייה נעזור לכם למצוא אוצרות, ולהרוויח כסף על המשחקים הישנים שלכם בדוכן. המכירה בדוכן היא ללא תשלום.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>שעות הפעילות</strong>: משעה 10:00 עד 20:00 ביום חמישי, ומשעה 09:00 בבוקר עד 13:00  ביום שישי.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                הדוכן מיועד רק עבור משחקי תפקידים, משחקי לוח, מיניאטורות, משחקי קלפים ופריטים דומים. <Br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                הדוכן ממוקם במתחם הכנס והשימוש בדוכן יד-2 הוא רק למשתתפי הכנס בעלי כרטיס. <br />
            </p>
            <br />
            <h4 class="text-bold">כללי הדוכן</h4>

            <p class="card-paragraph">
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                המוכר ימלא את טופס דוכן יד-שנייה בכתב ברור עם פרטי הפריטים שהוא מעוניין למכור והמחיר הנקוב. הטופס יהיה חתום בידי המוכר. <br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                כנס דרקוניקון אינו מתחייב למכור את הפריטים שיימסרו לדוכן.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                כנס דרקוניקון אינו אחראי על הפריטים בכל מקרה של פגיעה בהם, אובדנם או גניבתם.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                באחריותו הבלעדית של המוכר לאסוף את הפריטים ו/או הכסף תמורתם עד שעת סגירת הדוכן.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                הדוכן אינו מיועד למכירה סיטונאית של פריטים והינו רק לאנשים פרטיים. לא יהיה ניתן להציע שני פריטים או יותר שהם זהים. למשל: סטים של קוביות, חבילות של קלפי מג'יק וכך הלאה.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                כנס דרקוניקון אינו אחראי על הפריטים ו/או הכסף אחרי שעת סגירת הדוכן. פריטים ו/או כסף שיישארו בדוכן לאחר סגירתו ייחשבו כאילו נתרמו לכנס.<br />
            </p>
            <br />
            <h4 class="text-bold">הוראות למילוי טופס לדוכן יד-שנייה</h4>
            <p class="card-paragraph">
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                יש למלא את הטופס לפני מסירת המשחקים למכירה. מומלץ להוריד את הטופס ולמלא אותו מראש, עם זאת ניתן להביא את המשחקים לכנס ולמלא טופס במקום. במידה שטופס אחד אינו מספיק, ניתן למלא מספר טפסים.
                <br />

                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                אין למלא את השדות המסומנים באפור בטופס - הם מיועדים לשימוש צוות הדוכן.
                <br />

                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                יש להקפיד ולמלא את כל השדות האחרים, בכתב-יד ברור, ובדגש על פרטי קשר.
                <br />

                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                יש לחתום על הטופס, לאחר שקראת והבנת את התנאים לשימוש בדוכן.
                <br />
            </p>
        </div>
    </div>

    <div class="card card-gray-float" id="tag_freebies">
        <div class="card-body">
            <h3 class="card-title text-bold">
                <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
                &nbsp;
                אירועיים חימניים
            </h3>
            <p class="card-paragraph">
                יש לכם דרקון ספייר בבוידעם? קיבלתם ביום הולדת עוד חרב קסומה? <br />
                יש לנו פיתרון בשבילכם! בדוכן יד שנייה נעזור לכם למצוא אוצרות, ולהרוויח כסף על המשחקים הישנים שלכם בדוכן. המכירה בדוכן היא ללא תשלום.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>שעות הפעילות</strong>: משעה 10:00 עד 20:00 ביום חמישי, ומשעה 09:00 בבוקר עד 13:00  ביום שישי.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                הדוכן מיועד רק עבור משחקי תפקידים, משחקי לוח, מיניאטורות, משחקי קלפים ופריטים דומים. <Br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                הדוכן ממוקם במתחם הכנס והשימוש בדוכן יד-2 הוא רק למשתתפי הכנס בעלי כרטיס. <br />
            </p>



        </div>
    </div>

    <div class="card card-gray-float" id="tag_library">
        <div class="card-body">
            <h3 class="card-title text-bold">
                <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
                &nbsp;
                הספריה
            </h3>
            <p class="card-paragraph">
                יש לכם דרקון ספייר בבוידעם? קיבלתם ביום הולדת עוד חרב קסומה? <br />
                יש לנו פיתרון בשבילכם! בדוכן יד שנייה נעזור לכם למצוא אוצרות, ולהרוויח כסף על המשחקים הישנים שלכם בדוכן. המכירה בדוכן היא ללא תשלום.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                <strong>שעות הפעילות</strong>: משעה 10:00 עד 20:00 ביום חמישי, ומשעה 09:00 בבוקר עד 13:00  ביום שישי.<br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                הדוכן מיועד רק עבור משחקי תפקידים, משחקי לוח, מיניאטורות, משחקי קלפים ופריטים דומים. <Br />
                <i class="fa fa-fw fa-square dragon-bulletin"></i>
                הדוכן ממוקם במתחם הכנס והשימוש בדוכן יד-2 הוא רק למשתתפי הכנס בעלי כרטיס. <br />
            </p>



        </div>
</div>
<div class="card card-gray-float" id="tag_resources">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            קבצים וטפסים
        </h3>
        <p class="card-paragraph">
            יש לכם דרקון ספייר בבוידעם? קיבלתם ביום הולדת עוד חרב קסומה? <br />
            יש לנו פיתרון בשבילכם! בדוכן יד שנייה נעזור לכם למצוא אוצרות, ולהרוויח כסף על המשחקים הישנים שלכם בדוכן. המכירה בדוכן היא ללא תשלום.<br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            <strong>שעות הפעילות</strong>: משעה 10:00 עד 20:00 ביום חמישי, ומשעה 09:00 בבוקר עד 13:00  ביום שישי.<br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            הדוכן מיועד רק עבור משחקי תפקידים, משחקי לוח, מיניאטורות, משחקי קלפים ופריטים דומים. <Br />
            <i class="fa fa-fw fa-square dragon-bulletin"></i>
            הדוכן ממוקם במתחם הכנס והשימוש בדוכן יד-2 הוא רק למשתתפי הכנס בעלי כרטיס. <br />
        </p>



    </div>
</div>



    <div class="card card-gray-float" id="tag_staff">
        <div class="card-body">
            <h3 class="card-title text-bold">
                <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
                &nbsp;
                סגל הכנס
            </h3>
            <p class="card-paragraph">
                אדוה פפו - משחקי-תפקידים |
                אוריין אינטרטור - מארגן הכנס |
                אלירן טלר - משחקי לוח |
                אלכס בודגורנוב - שיווק |
                אלעד אור - תוכנייה ועיצוב |
                אסף הדרי - לוגיסטיקה |
                בר קדוש - שיווק ומשחקי לוח |
                גלעד גרינברג - משחקי-תפקידים |
                דניאל רוזנברג - מארגן הכנס |
                חגי גומפרט - משחקי-תפקידים |
                יבגני רזניקוב - כח-אדם וקשרי-חוץ |
                יובל בוזגלו - תוכנייה ועיצוב |
                יובל זיווני - לוגיסטיקה |
                לירן שובל - לוגיסטיקה |
                עדי סינגל - ספריית משחקי לוח |
                עומר רביב - משחקי-תפקידים |
                עידן קוקורייב - שיווק ומרצ'נדייז |
                תומר מלינרסקי - מיחשוב
            </p>
        </div>
    </div>

    @section scripts {
        <script>
            SetActiveMenu("nav-info")
        </script>
    }