@using System.Globalization
@using DragonCon.App.Settings
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Identities
@{
    ViewData["Title"] = "מידע למבקרים";
    var actor = Actor;
}


<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            במה אפשר לעזור ?
        </h3>
        <hr />

        <div class="card-deck ">
            <div class="card">
                <div class="card-body text-center clickable" style="align-items: center">
                    <a class="dragon-organge-link" href="#tag_location">
                        <h4 class="text-bold">
                            <i class="fas fa-2x fa-fw fa-location-arrow fa-flip-horizontal" style="margin-bottom: 20px;"></i><br />
                            מיקום והגעה
                        </h4>
                    </a>

                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_days">
                        <h4 class="text-bold">
                            <i class="fas fa-2x fa-fw fa-calendar-alt" style="margin-bottom: 20px;"></i><br />
                            ימי הכנס
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_register">
                        <h4 class="text-bold">
                            <i class="fas fa-2x fa-fw fa-signature" style="margin-bottom: 20px;"></i><br />
                            הרישום לאירועים
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_tickets">
                        <h4 class="text-bold">
                            <i class="fas fa-2x fa-fw fa-ticket-alt" style="margin-bottom: 20px;"></i><br />
                            מחירון
                        </h4>
                    </a>

                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_ages">
                        <h4 class="text-bold">
                            <i class="fas fa-2x fa-fw fa-child" style="margin-bottom: 20px;"></i><br />
                            גילאים
                        </h4>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="card-deck ">

            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_stands">
                        <h4 class="text-bold">
                            <i class="fas fa-2x fa-fw fa-info" style="margin-bottom: 20px;"></i><br />
                            עמדות לקהל
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_shops">

                        <h4 class="text-bold">
                            <i class="fas fa-2x fa-fw fa-box-open" style="margin-bottom: 20px;"></i><br />
                            דוכנים
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_yad2">

                        <h4 class="text-bold">
                            <i class="fas fa-2x fa-fw fa-hand-holding-heart fa-flip-horizontal" style="margin-bottom: 20px;"></i><br />
                            דוכן יד-2
                        </h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_freebies">
                        <h4 class="text-bold">
                            <i class="fas fa-2x fa-fw fa-coffee" style="margin-bottom: 20px;"></i><br />
                            אירועים חופשיים
                        </h4>
                    </a>

                </div>
            </div>
            <div class="card">
                <div class="card-body text-center clickable">
                    <a class="dragon-organge-link" href="#tag_library">
                        <h4 class="text-bold">
                            <i class="fas fa-2x fa-fw fa-boxes" style="margin-bottom: 20px;"></i><br />
                            הספרייה
                        </h4>
                    </a>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
<div class="card card-gray-float" id="tag_location">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            מיקום והגעה
        </h3>
        <p class="card-paragraph">
            @await Html.PartialAsync("_PartialLocation", new LocationSettings()
            {
                ShowDetails = true,
                ShowMap = true,
                ShowTallMap = true,
                ShowWays = true,
                ShowImage = true,
                ShowMapExternal = true,
            })
        </p>
    </div>
    @await Html.PartialAsync("_PartialRelatedTopics", new Dictionary<string, string>()
    {
        {"ימי הכנס", "tag_location"},
        {"מחירון", "tag_tickets"},
    })

</div>

<div class="card card-gray-float" id="tag_days">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            ימי הכנס
        </h3>
        <p class="card-paragraph">
            @await Html.PartialAsync("_PartialConvetionDays", new DaysSettings()
            {
                ShowProgramLink = true,
                ShowProgramImages = true
            })

        </p>
    </div>
    @await Html.PartialAsync("_PartialRelatedTopics", new Dictionary<string, string>()
    {
        {"ימי הכנס", "tag_days"},
        {"מחירון", "tag_tickets"},
    })
</div>


<div class="card card-gray-float" id="tag_register">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            הרישום לאירועים
        </h3>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                הרישום לאירועים מתבצע כאן באתר בהרשמה מוקדמת <strong>או</strong> בעמדות הקבלה במהלך הכנס.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                הרישום המוקדם מבטיח את מקומכם באירועים שתרצו וגם חוסך את התור וההמתנה בכנס עצמו!
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                ברישום המוקדם יהיה אפשר לשנות את ההרשמה בכל שלב, על בסיס מקום פנוי.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                הרישום המוקדם מתבצע בצורה מאובטחת דרך PayPal. <br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                ניתן לרשום מספר אנשים לכנס באמצעות אותו חשבון אישי באתר. <br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                ההרשמה לאירועים בעמדות הקבלה היא על בסיס מקום פנוי. <br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                התשלום בכנס מבוצע במזומן או בכרטיס אשראי. <br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                מומלץ להגיע כחצי שעה לפני תחילת האירוע הראשון אליו רשומים! <br />
            </li>
        </ul>
    </div>
    <br />
    <div class="text-center">
        <a asp-area="Participant" asp-controller="Personal" asp-action="Index" class="btn dragon-btn">לחצו להרשמה</a>
    </div>

    @await Html.PartialAsync("_PartialRelatedTopics", new Dictionary<string, string>()
    {
        {"מחירון", "tag_tickets"},
    })

</div>



<div class="card card-gray-float" id="tag_ages">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            גילאי המשתתפים
        </h3>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                הכנס מיועד לכל הגילאים ומיועד גם למשפחות.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                רוב האירועים של משחקי לוח ומיניאטורות פונות לגילאי 8 ומעלה.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                רוב האירועים של משחקי תפקידים פונות לגילאי 11 ומעלה.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                חלק מהאירועים מוגבלים לפי גיל - על מנת לספק את החוויה הטובה ביותר לשחקנים.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                טווח הגילאים המומלץ יצויין במפורש בכל אירוע.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                לרישום לאירועים להורים וילדים, או לא בטווח הגילאים -         <a asp-area="Convention" asp-controller="Home" asp-action="Index" asp-fragment="tag_contactus">אנא צרו איתנו קשר</a>!
            </li>

        </ul>


        @await Html.PartialAsync("_PartialRelatedTopics", new Dictionary<string, string>()
        {
            {"מחירון", "tag_tickets"},
        })

    </div>
</div>
<div class="card card-gray-float" id="tag_tickets">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            מחירון
        </h3>

        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>כרטיס כניסה</strong> - מאפשר כניסה חופשית לכנס ולכל האירועים חופשיים.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>כרטיס מוגבל</strong> - מאפשר כניסה חופשית לכנס והשתתפות במספר האירועים הרשום.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>כרטיס לא מוגבל</strong> - מאפשר כניסה חופשית לכנס והשתתפות בכל האירועים בו.
            </li>
        </ul>
        @if (actor.HasDisplayConvention)
        {
            var convention = actor.DisplayConvention;
            <table class="table table-striped card-table">
                <thead class="text-bold dragon-orange-background">
                    <tr class="dragon-light-orange-background">
                        <td>שם </td>
                        <td>עלות</td>
                        <td>ימי כנס</td>
                        <td>מספר פעילויות</td>
                    </tr>
                </thead>
                @foreach (var ticket in convention.Tickets)
                {
                    <tr>
                        <td>@ticket.Name</td>
                        <td>@ticket.Price ש"ח</td>
                        <td>
                            @foreach (var dat in ticket.DayIds)
                            {
                                var currentDay = Actor.DisplayConvention.GetDayById(dat);
                                <span>@currentDay.Date.DayOfWeek.InHebrew() ה-@currentDay.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)<br /></span>
                            }
                        </td>
                        <td>
                            @if (ticket.ActivitiesAllowed.HasValue)
                            {
                                <span>@ticket.ActivitiesAllowed</span>
                            }
                            else
                            {
                                <span>ללא הגבלה</span>
                            }

                        </td>
                    </tr>
                }
            </table>
            <ul class="fa-ul card-list">
                <li>
                    @await Html.PartialAsync("_PartialBulletin")
                    לא ניתן להרשם לשני אירועים שמתקיימים במקביל.
                </li>
                <li>
                    @await Html.PartialAsync("_PartialBulletin")
                    הכניסה להורה מלווה בודד של משתתף בכנס בתשלום - היא חינם.
                </li>
                <li>
                    @await Html.PartialAsync("_PartialBulletin")
                    ילדים מתחת לגיל 8 נכנסים לכנס בחינם, בתנאי שבכל עת הם בליווי מבוגר שרכש כרטיסים.
                </li>
            </ul>
        }
    </div>
    <br />
    <div class="text-center">
        <a asp-area="Participant" asp-controller="Personal" asp-action="Index" class="btn dragon-btn">לחצו להרשמה</a>
    </div>

    @await Html.PartialAsync("_PartialRelatedTopics", new Dictionary<string, string>()
    {
        {"הרישום לאירועים", "tag_register"},
        {"גילאי המשתתפים", "tag_ages"},
    })

</div>

<div class="card card-gray-float" id="tag_stands">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            עמדות לקהל
        </h3>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>עמדת רכישת כרטיסים ורישום לאירועים</strong> - תפעל משעת תחילת הכנס עד שעתיים לפני תום כל יום. <br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>עמדת איסוף כרטיסים שהוזמנו מראש</strong> - העמדה תפעל בשעות העומס בכנס, בשעתיים הראשונות של כל יום. הגעתם מאוחר יותר? תוכלו לאסוף את הכרטיסים בעמדת הרכישה.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>עמדת מודיעין</strong> - העמדה תציע מידע והמלצות על האירועים ותפעל בשעתיים הראשונות של היום.  <br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>עמדת שתיה</strong> - תהיה עמדת שתיה קלה וחמה זמינה במהלך כל הכנס, ללא תשלום.  <br />
            </li>
        </ul>
        @await Html.PartialAsync("_PartialRelatedTopics", new Dictionary<string, string>()
        {
            {"הרישום לאירועים", "tag_register"},
            {"הספרייה", "tag_library"},
            {"יד שניה", "tag_yad2"},
        })

    </div>
</div>

<div class="card card-gray-float" id="tag_shops">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            דוכנים
        </h3>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a href="http://www.hakubia.com/" target="_blank" class="text-bold">הקוביה</a> - יבואן לישראל של משחקי-תפקידים ולוח. בנוסף לכך הקוביה מתרגמת לעברית את המשחקים מתיישבי קאטאן, מנצ'קין ועוד.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a href="http://www.monkeytime.co.il/" target="_blank" class="text-bold">מאנקי טיים</a> - המתרגמת של פאת'פיינדר לעברית, מייבא ומתרגם שלל משחקי-לוח וקלפים.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a href="http://www.thekingdom.co.il/" target="_blank" class="text-bold">הממלכה</a> - חנות משחקי תחביב בהוד השרון, מוכרת מג'יק, משחקי לוח ומשחקי תפקידים.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a href="https://www.facebook.com/pg/mamootastudio/" target="_blank" class="text-bold">ממותה</a> - סטודיו לעיצוב אישי ופנטזיה, המתמחה בעבודות יד מעולמות הפנטזיה והמדע-בדיוני.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a href="https://www.facebook.com/playandthink" target="_blank" class="text-bold">משחקים וחושבים (מו"ח)</a> - היבואן החדש של משחקי המיניאטורות של Games Workshop לישראל.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a href="http://www.freak.org.il/" target="_blank" class="text-bold">פריק</a> - חנות תל-אביבית המתמחה במשחקי לוח, משחקי תפקידים, קלפים ועוד.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a href="http://publishing.pundak.co.il/" target="_blank" class="text-bold">הפונדק הוצאה לאור</a> - עולם מערכה, מוצרי הרחבה והרפתקאות למבוכים ודרקונים ושל פאת'פיינדר.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a href="http://www.giborim.org.il/" target="_blank" class="text-bold">הוצאת גיבורים</a> - ההוצאה לאור של העמותה למשחקי תפקידים בישראל.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a href="https://theinfomancers.com/shop" target="_blank" class="text-bold">פרש משחקים</a> - מתרגמים משחקי לוח לעברית.<br />
            </li>
        </ul>
        <p class="card-paragraph">
            רוצים להפעיל דוכן בכנס? נשמח לארח אתכם <a asp-area="Convention" asp-controller="Home" asp-action="Index" asp-fragment="tag_contactus">אנא צרו איתנו קשר</a>!
        </p>
    </div>
</div>


<div class="card card-gray-float" id="tag_yad2">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            דוכן יד-2
        </h3>
        <p class="card-paragraph">
            יש לכם דרקון ספייר בבוידעם? קיבלתם ביום הולדת עוד חרב קסומה? <br />
            יש לנו פיתרון בשבילכם! בדוכן יד שנייה נעזור לכם למצוא אוצרות חדשים, ולהרוויח כסף על המשחקים הישנים שלכם.<br />
        </p>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>המכירה בדוכן היא ללא תשלום.</strong>
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>שעות הפעילות</strong>: משעה 10:00 עד 20:00 ביום חמישי, ומשעה 09:00 בבוקר עד 13:00  ביום שישי.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                הדוכן מיועד רק עבור פרטי משחקי תפקידים, משחקי לוח, מיניאטורות, משחקי קלפים ודומים. <Br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                הדוכן ממוקם במתחם הכנס והשימוש בדוכן יד-2 הוא למשתתפי הכנס בעלי כרטיס בלבד. <br />
            </li>

        </ul>

        <br />
        <h4 class="text-bold">כללי הדוכן</h4>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                כנס דרקוניקון אינו מתחייב למכור את הפריטים שיימסרו לדוכן.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                כנס דרקוניקון אינו אחראי על הפריטים בכל מקרה של פגיעה בהם, אובדנם או גניבתם.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                באחריותו הבלעדית של המוכר לאסוף את הפריטים ו/או הכסף תמורתם עד שעת סגירת הדוכן.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                הדוכן אינו מיועד למכירה סיטונאית של פריטים והינו רק לאנשים פרטיים. לא יהיה ניתן להציע שני פריטים או יותר שהם זהים. למשל: סטים של קוביות, חבילות של קלפי מג'יק וכך הלאה.<br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                כנס דרקוניקון אינו אחראי על הפריטים ו/או הכסף אחרי שעת סגירת הדוכן. פריטים ו/או כסף שיישארו בדוכן לאחר סגירתו ייחשבו כאילו נתרמו לכנס.<br />
            </li>
        </ul>
        <br />
        <h4 class="text-bold">הוראות למילוי טופס לדוכן יד-שנייה</h4>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                המוכר ימלא את טופס דוכן יד-שנייה בכתב ברור עם פרטי הפריטים שהוא מעוניין למכור והמחיר הנקוב. הטופס יהיה חתום בידי המוכר. <br />
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                יש למלא את הטופס לפני מסירת המשחקים למכירה. מומלץ להוריד את הטופס ולמלא אותו מראש, עם זאת ניתן להביא את המשחקים לכנס ולמלא טופס במקום.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                במידה שטופס אחד אינו מספיק, ניתן למלא מספר טפסים.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                אין למלא את השדות המסומנים באפור בטופס - הם מיועדים לשימוש צוות הדוכן.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                יש להקפיד ולמלא את כל השדות האחרים, בכתב-יד ברור, ובדגש על פרטי קשר.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                יש לחתום על הטופס, לאחר שקראת והבנת את התנאים לשימוש בדוכן.
            </li>
        </ul>
        @if (Actor.DisplayDynamics.Linkage.Yad2FormLink.IsNotEmptyString())
        {
            <div class="text-center">
                <a href="@Actor.DisplayDynamics.Linkage.Yad2FormLink" target="_blank" class="btn dragon-btn">הורדת טופס דוכן יד-2</a>
            </div>
            <br />
        }

        @await Html.PartialAsync("_PartialRelatedTopics", new Dictionary<string, string>()
        {
            {"הרישום לאירועים", "tag_register"},
            {"עמדות לקהל", "tag_stands"}
        })
    </div>
</div>

<div class="card card-gray-float" id="tag_freebies">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            אירועים חופשיים
        </h3>
        <p class="card-paragraph">
            כל המשתתפים בכנס דרקוניקון מוזמנים לשחק במגוון רחב של פעילויות חופשיות שלא מצריכות רכישת כרטיס מיוחד או רישום מראש - <strong>ללא עלות ולכל דורש.</strong>
        </p>
        <br />
        <h4 class="text-bold">הדרכה של משחקי לוח</h4>
        <p class="card-paragraph">
            במתחם משחקי הלוח של דרקוניקון תמצאו את המדריכים המיומנים שלנו, שישמחו להדגים לכם, לחברים ולמשפחה מגוון משחקים. המשחקים המודרכים כוללים שילוב בין משחקים משפחתיים לצד המשחקים הלוהטים של אותה שנה, שנבחרים בידי צוות משחקי הלוח שלנו ומיועדים לשחקנים מנוסים יותר.
        </p>
        <br />
        <h4 class="text-bold">ספריית משחקי הלוח</h4>
        <p class="card-paragraph">
            במתחם משחקי הלוח תמצאו גם את ספריית משחקי הלוח שלנו, הכוללת מגוון רחב של משחקים. במידע על הספריה - תמצאו את רשימת המשחקים המלאה - אז בואו לשחק ולהכיר משחקים חדשים או ליהנות ממשחקים מוכרים.
        </p>
        <div class="text-center">
            <a href="#tag_library" class="btn dragon-btn">לצפיה במשחקים המוצעים בספריה</a>
        </div>
        <br />
        <h4 class="text-bold">שולחנות משחק חופשי</h4>
        <p class="card-paragraph">
            בדרקוניקון תמצאו גם אזור רחב ידיים עם שולחנות בו תוכלו לשבת ולשחק בכל זמן שתחפצו, לא נדרש להירשם למשחק באזור. ניתן לשחק במשחקים שהבאתם מהבית, השאלתם מספריית המשחקים או רכשתם במתחם הדוכנים שלנו. השולחנות יהיו זמינים לכל אורך הכנס. שימו לב שמתחם זה אינו מיועד למשחקי תפקידים.
        </p>
        <br />
        <h4 class="text-bold">מתחם הדוכנים</h4>
        <p class="card-paragraph">
            במתחם הדוכנים של דרקוניקון תמצאו דוכנים שונים ומגוונים, של החברות המובילות בישראל למשחקים שולחניים - משחקי תפקידים, משחקי לוח, קלפים, אביזרים ועוד. בנוסף תמצאו במתחם גם את דוכן יד-2.
        </p>
        <div class="text-center">
            <a href="#tag_stands" class="btn dragon-btn">למידע על מתחם הדוכנים</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#tag_yad2" class="btn dragon-btn">למידע על דוכן יד 2</a>
        </div>
        <br />
        <br />
        @await Html.PartialAsync("_PartialRelatedTopics", new Dictionary<string, string>()
        {
            {"הרישום לאירועים", "tag_register"},
            {"הספרייה", "tag_library"},
            {"דוכן יד-2", "tag_yad2"},
            {"מתחם הדוכנים", "tag_shops"},
            {"עמדות לקהל", "tag_stands"}
            })


    </div>
</div>

<div class="card card-gray-float" id="tag_library">

    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-orange-color"></i>
            &nbsp;
            הספרייה
        </h3>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>
                    השאלת משחקים מהספריה היא ללא עלות למשתתפי הכנס
                </strong>
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                בספרייה תוכלו לבחור משחק לשחק בו עם חברים, ולהחליף למשחקים אחרים כאוות נפשכם - אין מגבלה על כמות המשחקים שתשאילו או משך הזמן שתבלו בספרייה.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                בספריה גם תמצאו את המדגימים שלנו, שיציגו בפניכם משחקים חדשים ויסבירו לכם את החוקים שלהם וכיצד לשחק בהם - הזדמנות מושלמת ללמוד משחק חדש.
            </li>

        </ul>
        <iframe src="https://geekgroup.app/users/wandering_library/collection" style="width: 100%; height: 600px;"></iframe>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                המשחקים שבספרייה בחסות הספרייה הנודדת.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                הצגת המשחקים באמצעות האתר <a href="https://geekgroup.app" target="_blank">https://geekgroup.app</a>

            </li>
        </ul>
        @await Html.PartialAsync("_PartialRelatedTopics", new Dictionary<string, string>()
{
 {"הרישום לאירועים", "tag_register"},
 {"אירועים חופשיים", "tag_freebies"},
 {"עמדות לקהל", "tag_stands"}
})
    </div>
</div>


<button style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                display: none; /* Hidden by default */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                position: fixed; /* Fixed/sticky position */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                bottom: 20px; /* Place the button at the bottom of the page */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                right: 30px; /* Place the button 30px from the right */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                z-index: 99; /* Make sure it does not overlap */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                border: none; /* Remove borders */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                outline: none; /* Remove outline */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                background-color: red; /* Set a background color */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                color: white; /* Text color */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                cursor: pointer; /* Add a mouse pointer on hover */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                padding: 15px; /* Some padding */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                border-radius: 10px; /* Rounded corners */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                font-size: 18px; /* Increase font size */
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            "
        onclick="scrollToTop()" id="scroll-top-top" title="חזרה מעלה">
    חזרה מעלה
</button>

@section scripts {
    <script>
        //Get the button:
        mybutton = document.getElementById("scroll-top-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function scrollToTop() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        SetActiveMenu("nav-info");
    </script>
}