@using System.Globalization
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Identities
@{
    ViewData["Title"] = "מידע למבקר";
    var actor = Actor;
}

<br />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">ימי הכנס</h4>
        <p>
            @if (actor.HasDisplayConvention)
            {
                var convention = actor.DisplayConvention;
                <div>
                    @foreach (var day in convention.Days)
                    {
                        <span>יום - </span><span>@day.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)<br /></span>
                    }
                </div>
            }
            else
            {
                <span>
                    נתראה בכנס הבא!
                </span>
            }
        </p>
    </div>
</div>
<br />

<div class="card">
    <div class="card-body">
        <h4 class="card-title">מחירון</h4>
        <p>
            @if (actor.HasDisplayConvention)
            {
                var convention = actor.DisplayConvention;
                <div>
                    @foreach (var ticket in convention.Tickets)
                    {
                        <span>@ticket.Name - @ticket.Price ש"ח<br /></span>
                    }
                </div>
            }
            else
            {
                <span>
                    נתראה בכנס הבא!
                </span>
            }
        </p>
    </div>
</div>

<br />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">מיקום והגעה</h4>
        <p>
            @if (actor.HasDisplayConvention)
            {
                var convention = actor.DisplayConvention;
                <div>
                    @convention.ConventionName <br />
                    @convention.TagLine <br />
                    @convention.Location <br />
                </div>
            }
            else
            {
                <span>
                    נתראה בכנס הבא!
                </span>
            }
        </p>
    </div>
</div>
<br />


<br />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">מתחם הדוכנים</h4>
        <p>
            <span>
                בכנס יתקיים מתחם של דוכנים שיציעו שלל משחקים למכירה, כולל גם משחקים לוהטים מרחבי העולם שמגיעים במיוחד לכנס והשקות משחקים - פרטים נוספים בעמוד המשחקים בכנס.<br />
                עמדות לקהל<br />
                עמדת רכישת כרטיסים ורישום למשחקים: העמדה תפעל ביום חמישי משעה 9:00 עד 20:00 וביום שישי משעה 9:00 ועד 13:00. בעת פעילות עמדת המודיעין, אין לגשת לעמדה זו לקבלת מידע.<br />
                עמדה לאיסוף כרטיסים מוזמנים מראש: מי שהזמין כרטיסים מראש באתר יוכל לאסוף אותם בעמדה ייעודית שתפעל בשעות העומס בכנס - יום חמישי עד 11:00 ויום שישי עד 10:00. לאחר-מכן איסוף הכרטיסים יתבצע מעמדת רכישת הכרטיסים.<br />
                עמדת מודיעין: עמדת המודיעין בכנס תציע לכם מידע והמלצות על המשחקים. העמדה תפעל ביום חמישי עד 11:00 וביום שישי עד 10:00. לאחר-מכן נשמח לעזור לכם בעמדת רכישת הכרטיסים.<br />
                דוכן יד-שנייה לבאי הכנס.<br />
                עמדת שתייה ומזון: בכנס תהיה עמדת שתייה קלה וחמה זמינה במהלך כל הכנס, ללא תשלום.<br />
                הכנס נמצא בצמוד לרחוב דיזינגוף ולדיזינגוף סנטר, שם ניתן למצוא מגוון גדול של מסעדות, בתי-קפה, מכולות ועוד.<br />
                רשימת דוכנים חלקית שבכנס<br />
                הקוביה - יבואן לישראל של משחקי-תפקידים ולוח. בנוסף לכך הקוביה מתרגמת לעברית את המשחקים מתיישבי קאטאן, מנצ'קין ועוד.<br />
                מאנקי טיים - המתרגמת של פאת'פיינדר לעברית, מייבא ומתרגם שלל משחקי-לוח וקלפים.<br />
                הממלכה - חנות משחקי תחביב בהוד השרון, מוכרת מג'יק, משחקי לוח, קומיקס ומ"ת.<br />
                ממותה - סטודיו לעיצוב אישי ופנטזיה, המתחתה בעבודות יד מעולמות הפנטזיה והמדע-בדיוני.<br />
                משחקים וחושבים (מו"ח) - היבואן החדש של משחקי המיניאטורות של Games Workshop לישראל.<br />
                פריק - חנות תל-אביבית המתמחה במשחקי לוח, משחקי תפקידים, קלפים ועוד.<br />
                הפונדק הוצאה לאור - עולם מערכה, מוצרי הרחבה והרפתקאות למבוכים ודרקונים ושל פאת'פיינדר.<br />
                הוצאת גיבורים - ההוצאה לאור של העמותה למשחקי תפקידים בישראל.<br />
                פרש משחקים - מתרגמים משחקי לוח לעברית.<br />
                הפעלת דוכן בכנס
                יש לך דוכן בכנס? נשמח לארח בדרקוניקון כל דוכן שמציע תוכן של משחקי תפקידים, משחקי לוח, מיניאטורות וכדומה. הקהל של דרקוניקון מורכב בעיקרו מגילאי 13-50 שמגיע מרחבי הארץ לכנס. אנא צרו עמנו קשר להפעלת הדוכן שלכם בכנס.<br />
                אם הדוכן שלך עוסק בתחומי האנימה, מד"ב, תחפושות ואביזרים, יש לנו מקום מוגבל בכנס גם לדוכנים הללו. עם זאת, שימו לב שלמרות שהקהל שלנו חופף במידה מסוימת לקהל של הדוכן שלך, זה לא תחום העניין המרכזי של הכנס. ניתן ליצור עמנו קשר גם עבור דוכנים מתחום זה, ונשמח לייעץ לכם האם הכנס מתאים לכם.<br />


            </span>
        </p>
    </div>
</div>
<br />

<br />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">סגל</h4>
        <p>
            <ul>
                אדוה פפו - משחקי-תפקידים |
                אוריין אינטרטור - מארגן הכנס |
                אלירן טלר - משחקי לוח |
                אלכס בודגורנוב - שיווק |
                אלעד אור - תוכנייה ועיצוב |
                אסף הדרי - לוגיסטיקה |
                בר קדוש - שיווק ומשחקי לוח |
                גלעד גרינברג - משחקי-תפקידים |
                דניאל רוזנברג - מארגן הכנס |
                חגי גומפרט - משחקי-תפקידים |
                יבגני רזניקוב - כח-אדם וקשרי-חוץ |
                יובל בוזגלו - תוכנייה ועיצוב |
                יובל זיווני - לוגיסטיקה |
                לירן שובל - לוגיסטיקה |
                עדי סינגל - ספריית משחקי לוח |
                עומר רביב - משחקי-תפקידים |
                עידן קוקורייב - שיווק ומרצ'נדייז |
                תומר מלינרסקי - מיחשוב

            </ul>
        </p>
    </div>
</div>
<br />

<div class="card">
    <div class="card-body">
        <h5 class="card-title">המשחקים בספרייה</h5>


    </div>
</div>



