@using System.Globalization
@using DragonCon.Modeling.Helpers
@using DragonCon.Modeling.Models.Identities
@model DragonCon.Features.Participant.Account.AccountViewModel
@{
    ViewData["Title"] = "התחברות או הרשמה לכנס";
    var actor = Actor;
}


<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            האזור האישי
        </h3>
        <ul class="fa-ul card-list">
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                על מנת להרשם מראש לאירועים בכנס יש לפתוח חשבון בדרקוניקון או להתחבר לחשבון קיים.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                לאחר רישום והתחברות תוכלו להרשם מראש לאירועים או להתנדב להנחות אירועים.
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <strong>רישום מוקדם לאירועים יבטיח לכם מקום באירועים !</strong>
            </li>
            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a asp-area="Convention" asp-controller="Home" asp-action="Usage" asp-fragment="tag_cookies">בשימוש באתר אתם מסכימים לשימוש בעוגיות</a>
            </li>

            <li>
                @await Html.PartialAsync("_PartialBulletin")
                <a asp-area="Convention" asp-controller="Home" asp-action="Usage">תנאי השימוש והצהרת פרטיות</a>
            </li>
        </ul>
    </div>
</div>


<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            הרשמה
        </h3>

        <form asp-area="Participant" asp-controller="Account" asp-action="Register" method="post"  class="card-form">
            <div class="col">
                <div class="row">
                    <div class="form-group col-8">
                        <label class="required">שם מלא</label>
                        <input value="@Model.Register.FullName" name="FullName" class="form-control" placeholder="שם מלא " required>
                    </div>
                    <div class="form-group col-4">
                        <label>שנת לידה </label>
                        <br />
                        <input value="@Model.Register.YearOfBirth" name="YearOfBirth" class="form-control" type="number" min="1900" max="@DateTime.Now.Year" required/>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="form-group col-8">
                        <label class="required">דואר אלקטרוני</label>
                        <div class="input-group ">
                            <input value="@Model.Register.Email" name="Email" type="email" class="form-control" aria-label="Checkbox for following text input" placeholder="דואר אלקטרוני " required>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" name="IsAllowingPromotions" aria-label="Checkbox for following text input">
                                    <span class="toggle-text">צירוף לרשימת דיוור</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label class="required">טלפון</label>
                        <input value="@Model.Register.PhoneNumber" name="PhoneNumber" type="tel" class="form-control" placeholder="טלפון ">
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="required">סיסמה</label>
                        <input value="@Model.Register.Password" name="Password" type="password" class="form-control" placeholder="סיסמה " required>
                    </div>
                    <div class="form-group col-6">
                        <label class="required">אימות סיסמה</label>
                        <input value="@Model.Register.ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" placeholder="אימות סיסמה " required>
                    </div>
                </div>
                <label class="required"></label>
                <label>שדות חובה</label>

                <div class="row">
                    <div class="form-group col-12 text-center">
                        <button type="submit" class="btn dragon-btn"> הרשמה </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


<div class="card card-gray-float">
    <div class="card-body">
        <h3 class="card-title text-bold">
            <i class="fa fa-fw fa-dragon fa-flip-horizontal dragon-organge-color"></i>
            &nbsp;
            התחברות
        </h3>
        <form method="post" asp-area="Participant" asp-controller="Account" asp-action="Login" class="card-form">
            <div class="col">
                <div class="form-group">
                    <label class="required">כתובת דואר אלקטרוני</label>
                    <input value="@Model.Login.Email" name="Email" type="email" class="form-control" aria-label="Checkbox for following text input" placeholder="דואר אלקטרוני " required>

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="required">סיסמה</label>
                    <input value="@Model.Login.Password" name="Password" type="password" class="form-control" required>
                </div>
            </div>
            <label class="required"></label>
            <label>שדות חובה</label>

            <div class="row">
                <div class="form-group col-12 text-center">
                    <button type="submit" class="btn dragon-btn"> התחברות </button>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12 text-center text-bold">
                    <br/>
                    <a asp-area="Participant" asp-controller="Account" asp-action="ForgotPassword" class="dragon-organge-link"> שכחתי את הסיסמה שלי! </a>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {
    <script>
        SetActiveMenu("nav-register")
    </script>
}